<!-- metadata modal -->
<button type="button" class="btn btn-secondary me-3" data-bs-toggle="modal" data-bs-target="#add-metadata">Add metadata</button>
<!-- metadata modal -->
<div class="modal fade text-start" id="add-metadata" tabindex="-1" aria-labelledby="add-metadata" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add metadata</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#meta-title" type="button" role="tab" aria-controls="home" aria-selected="true">Title and responsibility</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#meta-witnesses" type="button" role="tab" aria-controls="profile" aria-selected="false">Witnesses</button>
          </li>
        </ul>
        <div class="tab-content">
          <!-- title and responsibility -->
          <div class="tab-pane mb-3 mt-3 fade show active" id="meta-title" role="tabpanel" aria-labelledby="meta-title">
            <form method="post" action="/edit/<%= id %>">
              <!-- work -->
              <div class="mb-3">
                <label class="form-label">Work</label>
                <input type="text" class="form-control" aria-describedby="Title of the edition" value="<%= work %>" name="work">
              </div>
              <!-- title -->
              <div class="mb-3">
                <label class="form-label">Title of the edition</label>
                <input type="text" class="form-control" aria-describedby="Title of the edition" value="<%= title %>" name="title">
              </div>
              <!-- author -->
              <div class="mb-3">
                <label class="form-label">Author of the edited work</label>
                <input type="text" class="form-control" aria-describedby="Author of the edited work" value="<%= author %>" name="author">
              </div>
              <!-- editor -->
              <div class="mb-3">
                <label class="form-label">Editor</label>
                <input type="text" class="form-control" aria-describedby="Editor" value="<%= editor %>" name="editor">
              </div>
              <!-- edition of -->
              <div class="mb-3">
                <label class="previewCheck" data-value="<%= editionOf %>">Edition of</label>
                <div class="form-check">
                  <input type="radio" class="depending-input previewCheck form-check-input" id="editionOfMula" value="m&#x16b;la text" name="editionOf" checked>
                  <label class="form-check-label" for="editionOfMula">m&#x16b;la text</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="depending-input previewCheck form-check-input" id="editionOfMulaCommentary" value="m&#x16b;la text and commentary" data-target="author-commentary" name="editionOf">
                  <label class="form-check-label" for="editionOfMulaCommentary">m&#x16b;la text and commentary</label>
                </div>
                <!-- depending input -->
                <div class="bg-light mx-4 mb-3 mt-3 p-3 d-none" id="author-commentary">
                  <label class="form-label">Author of the commentary</label>
                  <% if (typeof authorCommentary !== "undefined") { %>
                  <input type="text" class="form-control" value="<%= authorCommentary %>" name="authorCommentary">
                  <% } else { %>
                  <input type="text" class="form-control" value="" name="authorCommentary">
                  <% }; %>
                </div>
                <div class="form-check">
                  <input type="radio" class="depending-input previewCheck form-check-input" id="editionOfCommentary" value="commentary" name="editionOf">
                  <label class="form-check-label" for="editionOfCommentary">commentary</label>
                </div>
              </div>
              <!-- date -->
              <div class="mb-3">
                <label class="form-label">Date of publication of the edition</label>
                <% if (typeof date !== "undefined") { %>
                <input type="date" class="form-control" aria-describedby="Date of publication" value="<%= date %>" name="date">
                <% } else { %>
                <input type="date" class="form-control" aria-describedby="Date of publication" value="" name="date">
                <% }; %>
              </div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <!-- witnesses -->
          <div class="tab-pane mb-3 mt-3 fade" id="meta-witnesses" role="tabpanel" aria-labelledby="meta-witnesses">
            <form id="addWitnesses" method="post" action="/addWitnesses/<%= id %>">
              <div class="alert alert-dark alert-dismissible fade show bg-light mb-3 p-3 wit-clone" data-cloned="witness">
                <!-- siglum -->
                <div class="mb-3">
                  <label class="form-label">Siglum</label>
                  <!-- superscript -->
                  <div class="row g-3 align-items-center">
                    <div class="col-auto">
                      <label class="col-form-label">Superscript</label>
                    </div>
                    <div class="col-auto">
                      <input type="text" class="form-control" name="witnessSiglumSuperscript0">
                    </div>
                  </div>
                  <!-- base -->
                  <div class="row g-3 align-items-center">
                    <div class="col-auto">
                      <label class="col-form-label">Base</label>
                    </div>
                    <div class="col-auto">
                      <input type="text" class="form-control" name="witnessSiglumBase0">
                    </div>
                  </div>
                  <!-- subscript -->
                  <div class="row g-3 align-items-center">
                    <div class="col-auto">
                      <label class="col-form-label">Subscript</label>
                    </div>
                    <div class="col-auto">
                      <input type="text" class="form-control" name="witnessSiglumSubscript0">
                    </div>
                  </div>
                </div>
                <!-- collapse -->
                <a class="btn btn-secondary expand-section mb-3" data-bs-toggle="collapse" href="#expand-metadata0" role="button" aria-expanded="false" aria-controls="expand-metadata0"></a>
                <div class="collapse" id="expand-metadata0">
                  <!-- provenance -->
                  <div class="mb-3">
                    <label class="form-label">Provenance</label>
                    <select class="form-select" aria-label="Default select example" name="witnessProvenance0">
                      <option value="Bengal">Bengal</option>
                      <option value="Kashmir">Kashmir</option>
                      <option value="Nepal">Nepal</option>
                      <option value="South India">South India</option>
                    </select>
                  </div>
                  <!-- settlement -->
                  <div class="mb-3">
                    <label class="form-label">Settlement</label>
                    <input type="text" class="form-control" aria-describedby="Settlement" name="witnessSettlement0">
                  </div>
                  <!-- collection -->
                  <div class="mb-3">
                    <label class="form-label">Collection &#x28;present physical location&#x29;</label>
                    <input type="text" class="form-control" aria-describedby="Collection" name="witnessCollection0">
                  </div>
                  <!-- classmark -->
                  <div class="mb-3">
                    <label class="form-label">Identifying number&#x28;s&#x29;</label>
                    <input type="text" class="form-control" aria-describedby="Identifying number" name="witnessClassmark0">
                  </div>
                  <!-- antigraph -->
                  <div class="mb-3">
                    <label class="form-label">Antigraph</label>
                    <input class="form-control" id="witnessAntigraph0" data-list="<%= JSON.stringify(sigla) %>" data-type="witness" type="search" dir="ltr" spellcheck="false" autocorrect="off" autocomplete="off" autocapitalize="off" maxlength="2048" tabindex="1" aria-controls="autoComplete_list_0" aria-autocomplete="both" placeholder="Search for witness..." aria-activedescendant="" name="witnessAntigraph0">
                  </div>
                  <!-- author -->
                  <div class="mb-3">
                    <label class="form-label">Author&#x28;s&#x29;</label>
                    <input type="text" class="form-control" aria-describedby="Author(s)" name="witnessAuthor0">
                  </div>
                  <!-- title -->
                  <div class="mb-3">
                    <label class="form-label">Title&#x28;s&#x29;</label>
                    <input type="text" class="form-control" aria-describedby="Title(s)" name="witnessTitle0">
                  </div>
                  <!-- language -->
                  <div class="mb-3">
                    <label class="form-label">Language&#x28;s&#x29;</label>
                    <select class="form-select" aria-label="Default select example" name="witnessLanguage0">
                      <option value="Sanskrit">Sanskrit</option>
                      <option value="Malayalam">Malayalam</option>
                      <option value="Manipravalam">Manipravalam</option>
                      <option value="Tamil">Tamil</option>
                    </select>
                  </div>
                  <!-- scripts -->
                  <div class="mb-3">
                    <label class="form-label">Script&#x28;s&#x29;</label>
                    <input type="text" class="form-control" aria-describedby="Script(s)" name="witnessScripts0">
                  </div>
                  <!-- structural typology -->
                  <div class="mb-3">
                    <label class="form-label">Structural typology</label>
                    <select class="form-select" aria-label="Default select example" name="witnessStructuralTypology0">
                      <option value="Composite">Composite</option>
                      <option value="Multiple texts">Multiple texts</option>
                      <option value="Single texts">Single texts</option>
                    </select>
                  </div>
                  <!-- state -->
                  <div class="mb-3">
                    <label class="form-label">State</label>
                    <select class="form-select" aria-label="Select state" name="witnessState0">
                      <option value="Complete">Complete</option>
                      <option value="Inapplicable">Inapplicable</option>
                      <option value="Incomplete">Incomplete</option>
                    </select>
                  </div>
                  <!-- condition -->
                  <div class="mb-3">
                    <label class="form-label">Condition</label>
                    <select class="form-select" aria-label="Select condition" name="witnessCondition0">
                      <option value="Damaged">Damaged</option>
                      <option value="Good">Good</option>
                      <option value="Some damaged folios">Some damaged folios</option>
                      <option value="Some damaged folios and missing folios">Some damaged folios and missing folios</option>
                    </select>
                  </div>
                  <!-- format -->
                  <div class="mb-3">
                    <label class="form-label">Format</label>
                    <select class="form-select" aria-label="Default select example" name="witnessFormat0">
                      <option value="Book">Book</option>
                      <option value="Pothi">Pothi</option>
                      <option value="Thyasapu">Thyasapu</option>
                    </select>
                  </div>
                  <!-- material -->
                  <div class="mb-3">
                    <label class="form-label">Material</label>
                    <select class="form-select" aria-label="Select material" name="witnessMaterial0">
                      <option value="Birch-bark">Birch-bark</option>
                      <option value="Paper">Paper</option>
                      <option value="Palm-leaf">Palm-leaf</option>
                      <option value="Else">Else</option>
                    </select>
                  </div>
                  <!-- dimensions -->
                  <div class="mb-3">
                    <label class="form-label">Dimensions</label>
                    <input type="text" class="form-control" aria-describedby="Dimensions" name="witnessDimensions0">
                  </div>
                  <!-- extent -->
                  <div class="mb-3">
                    <label class="form-label">Extent</label>
                    <input type="text" class="form-control" aria-describedby="Extent" name="witnessExtent0">
                  </div>
                  <!-- binding -->
                  <div class="mb-3">
                    <label class="form-label">Binding</label>
                    <input type="text" class="form-control" aria-describedby="Binding description" name="witnessBinding0">
                  </div>
                  <!-- foliation -->
                  <div class="mb-3">
                    <label class="form-label">Foliation &#x28;on the left margin of the recto, in Tamil numerals etc.&#x29;</label>
                    <input type="text" class="form-control" aria-describedby="Foliation" name="witnessFoliation0">
                  </div>
                  <!-- date -->
                  <div class="mb-3">
                    <label class="form-label">Date &#x28;acc. to the Gregorian calendar&#x29;</label>
                    <select class="form-select" aria-label="Select material" name="witnessDate0">
                      <option value="Birch-bark">Dated</option>
                      <option value="Paper">Undated</option>
                    </select>
                  </div>
                  <!-- people -->
                  <div class="mb-3">
                    <label class="form-label">People associated &#x28;Scribe, owner, sponsor etc.&#x29;</label>
                    <input type="text" class="form-control" aria-describedby="People" name="witnessPeople0">
                  </div>
                  <!-- marginalia -->
                  <div class="mb-3">
                    <label class="form-label">Marginalia</label>
                    <input type="text" class="form-control" aria-describedby="Text on guard/added leaves leaves and Marginalia" name="witnessMarginalia0">
                  </div>
                  <!-- initial rubric -->
                  <div class="mb-3">
                    <label class="form-label">Initial Rubric</label>
                    <input type="text" class="form-control" aria-describedby="Initial Rubric" name="witnessInitialRubric0">
                  </div>
                  <!-- incipit -->
                  <div class="mb-3">
                    <label class="form-label">Incipit</label>
                    <input type="text" class="form-control" aria-describedby="Incipit" name="witnessIncipit0">
                  </div>
                  <!-- explicit -->
                  <div class="mb-3">
                    <label class="form-label">Explicit</label>
                    <input type="text" class="form-control" aria-describedby="Explicit" name="witnessExplicit0">
                  </div>
                  <!-- final rubric and invocations -->
                  <div class="mb-3">
                    <label class="form-label">Final Rubric and Invocations</label>
                    <input type="text" class="form-control" aria-describedby="Final Rubric and Invocations" name="witnessFinalRubric0">
                  </div>
                  <!-- colophon -->
                  <div class="mb-3">
                    <label class="form-label">Colophon</label>
                    <input type="text" class="form-control" aria-describedby="Colophon" name="witnessColophon0">
                  </div>
                  <!-- bibliography -->
                  <div class="mb-3">
                    <label class="form-label">Bibliography</label>
                    <input type="text" class="form-control" aria-describedby="Bibliography" name="witnessBibliography0">
                  </div>
                  <!-- editions -->
                  <div class="mb-3">
                    <label class="form-label">Edition&#x28;s&#x29;</label>
                    <input type="text" class="form-control" aria-describedby="Edition(s)" name="witnessEditions0">
                  </div>
                  <!-- secondary literature-->
                  <div class="mb-3">
                    <label class="form-label">Secondary Literature</label>
                    <input type="text" class="form-control" aria-describedby="Secondary Literature" name="witnessSecondaryLiterature0">
                  </div>
                  <!-- author of the record -->
                  <div class="mb-3">
                    <label class="form-label">Author&#x28;s&#x29; of the Record</label>
                    <input type="text" class="form-control" aria-describedby="Author(s) of the record" name="witnessAuthorRecord0">
                  </div>
                  <!-- siglum tex -->
                  <div class="mb-3">
                    <label class="form-label">Siglum in TeX</label>
                    <input type="text" class="form-control" aria-describedby="Siglum in TeX" name="witnessSiglumTex0">
                  </div>
                  <!-- notes -->
                  <div class="mb-3">
                    <label class="form-label">Notes &#x28;free text&#x29;</label>
                    <textarea type="text" class="form-control" aria-describedby="Notes" name="witnessNotes0"></textarea>
                  </div>
                </div>
              </div>
              <!-- cloned witnesses -->
              <div id="witness">
              </div>
            </form>
            <!-- add witness -->
            <div class="mb-3">
              <button type="button" class="btn btn-primary" data-clone="witness">&#x2b;</button>
            </div>
            <!-- submit -->
            <div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" form="addWitnesses">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>