<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= process.env.URL_PATH %>/">Shivadharma Database</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-a" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="<%= process.env.URL_PATH %>/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="<%= process.env.URL_PATH %>/editions">Editions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="<%= process.env.URL_PATH %>/apikey">Create an edition</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="<%= process.env.URL_PATH %>/account">Edit an edition</a>
        </li>
      </ul>
      <div class="navbar-text p-0">
        <!-- time -->
        <div class="current-time d-inline mx-2 p-4 text-white"></div>
        <!-- logout -->
        <form class="d-inline" action="<%= process.env.URL_PATH %>/logout?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-light btn-sm">Log out</button>
        </form>
        <!-- personal account -->
        <a href="<%= process.env.URL_PATH %>/account">
          <button type="submit" class="btn btn-outline-light btn-sm">
            <i class="bi bi-person-fill"></i>
            <span><%= name %></span>
          </button>
        </a>
      </div>
    </div>
  </div>
</nav>