<!DOCTYPE html>
<html>
<%- include ("partials/head") %>

<body>
  <%- include ("partials/navbar") %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 bg-dark text-light p-5">
        <ul>
          <li>Home</li>
          <li>Personal information</li>
          <li>Editions</li>
        </ul>
      </div>
      <div class="col-md-10 p-5">
        <!-- home -->
        <div id="account-home">
          <h2>Welcome <%= name %></h2>
        </div>
        <!-- home -->
        <div id="account-personal-information">
          <h2>Profile</h2>
          <form action="" method="POST">
            <div class="mb-3">
              <label for="name">Full name</label>
              <input type="text" value="<%- name %>" name="name">
              <div id="emailHelp" class="form-text">Insert your name first, then your surname.</div>
            </div>
            <div class="mb-3">
              <label for="email">Email</label>
              <input type="email" value="<%- email %>" name="email">
              <div id="emailHelp" class="form-text">We will never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-primary">Update profile</button>
            </div>
          </form>
        </div>
        <!-- editions -->
        <div id="account-editions">
          <h2>Editions</h2>
          <ul>
            <% if (editions) { %>
            <% editions.forEach(function(edition) { %>
            <li class="p-2">
              <span class="fw-bold"><%= edition.split("___")[0] %></span>
              <a href="/edition/<%= edition.split('___')[1] %>-<%= idEditor %>" class="btn btn-primary btn-sm" title="Read the edition">Read the edition</a>
              <a href="/edit/<%= edition.split('___')[1] %>-<%= idEditor %>" class="btn btn-light btn-sm" title="Edit the edition">Edit the edition</a>
            </li>
            <% }); %>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%- include ("partials/footer") %>
  <%- include ("partials/script") %>
</body>

</html>