<!DOCTYPE html>
<html>
<%- include ("partials/head") %>

<body>
  <%- include ("partials/navbar") %>

  <div class="text-center pb-5 pt-5">
    <div class="mb-3">
      <h1>Create your edition | Access key</h1>
    </div>
    <!-- error message -->
    <% if (typeof errorMessage !== "undefined") { %>
    <div class="alert alert-danger" role="alert">
      <%= errorMessage %>
    </div>
    <% }; %>
    <!-- api key -->
    <form class="login-form" action="/apikey" method="POST">
      <div class="mb-3">
        <label for="password">Key to access</label>
        <input class="form-control" type="password" name="apikey" required>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Access</button>
      </div>
    </form>
  </div>
  </div>

  <%- include ("partials/footer") %>
  <%- include ("partials/script") %>
</body>

</html>