<!DOCTYPE html>
<html>
<%- include ("partials/head") %>

<body>
  <%- include ("partials/navbar") %>
  <!-- header -->
  <div class="container-fluid bg-light p-2">
    <div class="row">
      <!-- title -->
      <div class="col-md-8">
        <a href="<%= prevUrl; %>" type="button" class="btn btn-sm btn-light border"><i class="bi bi-arrow-left"></i></a>
        <% if (typeof title !== "undefined") { %>
          <h1 class="h4 d-inline">
            <%= title %>,
            <% authors.forEach((author) => { %>
              <%= author; %>
            <% }); %>
          </h1>
          <h2 class="d-inline h5 text-secondary">
            Curated by
            <% editors.forEach((editor) => { %>
              <%= editor; %>
            <% }); %>
          </h2>
        <% }; %>
      </div>
      <div class="col-md-4 text-end">
        <!-- download -->
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Download
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">LateX</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">PDF</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">XML/TEI</a></li>
          </ul>
        </div>
        <!-- tutorial -->
        <button type="button" class="btn btn-sm btn-light border"><i class="bi bi-question-lg"></i></button>
      </div>
    </div>
  </div>
  <!-- edition -->
  <div class="container-fluid bg-white edition-container-vis">
    <div class="row">
      <!-- textus constitutus -->
      <div class="col-md-6 border p-3 enlarge-col">
        <% if (file) { %>
          <%- include (`../uploads/${file}`) %>
        <% } else { %>
          <p>The edition is coming soon!</p>
        <% }; %>
      </div>
      
      <!-- other components -->
      <div class="col-md-6 border p-3 enlarge-col">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

          <% if (translation.length > 0) { %>
            <li class="nav-item" role="presentation">
              <button class="btn btn-sm btn-teal me-1 active" data-bs-toggle="pill" data-bs-target="#pills-translation" type="button" role="tab" aria-controls="pills-translation" aria-selected="true">Translation</button>
            </li>
          <% }; %>

          <% if (parallels.length > 0) { %>
            <li class="nav-item" role="presentation">
              <button class="btn btn-sm btn-orange me-1" data-bs-toggle="pill" data-bs-target="#pills-parallels" type="button" role="tab" aria-controls="pills-parallels" aria-selected="false">Parallels</button>
            </li>
          <% }; %>

          <% if (citations.length > 0) { %>
            <li class="nav-item" role="presentation">
              <button class="btn btn-sm btn-fuchsia me-1" data-bs-toggle="pill" data-bs-target="#pills-citations" type="button" role="tab" aria-controls="pills-citations" aria-selected="false">Citations</button>
            </li>
          <% }; %>

          <% if (commentary.length > 0) { %>
            <li class="nav-item" role="presentation">
              <button class="btn btn-sm btn-indigo me-1" data-bs-toggle="pill" data-bs-target="#pills-commentary" type="button" role="tab" aria-controls="pills-commentary" aria-selected="false">Commentary</button>
            </li>
          <% }; %>
        </ul>
        <div class="tab-content" id="pills-tabContent">

          <!-- translation -->
          <div class="tab-pane fade show active" id="pills-translation" role="tabpanel">
            <% if (translation) { %>
              <% translation.forEach((el) => { %>
                <div data-type="translation" data-subtype="translation">
                  <span class="me-1" data-type="location" data-subtype="location-top">
                    <span data-type="translation" data-subtype="chapter"><%= el["chapter"]; %></span><span data-type="location" data-subtype="pointSeparator">.</span><span data-type="translation" data-subtype="stanzaStart"><%= el["stanzaStart"]; %></span>
                  </span>
                  <span data-type="translation" data-subtype="full-text"><%- el["value"]; %></span>
                </div>
                <% if (el["note"] !== "") { %>
                  <span class="btn-note" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-translation-note-<%= el['id']; %>" aria-expanded="false" aria-controls="collapse-translation-note-<%= el['id']['low']; %>"></span>
                  <div class="collapse mb-3" id="collapse-translation-note-<%= el['id']; %>">
                    <div class="card card-body">
                      <div data-type="translation" data-subtype="note"><%- el["note"]; %></div>
                    </div>
                  </div>
                <% }; %>
              <% }); %>
            <% }; %>
          </div>

          <!-- parallels -->
          <div class="tab-pane fade" id="pills-parallels" role="tabpanel">
            <% parallels.forEach((parallel) => { %>
              <div class="mb-3" data-type="parallel" data-subtype="parallel">
                <% for (const [key, value] of Object.entries(parallel)) { %>

                <!-- title -->
                <span class="fw-bold title-subsection" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="Author: <b><%= key.split('___')[1]; %></b>">
                  <!-- title with tooltip -->
                  <%= key.split("___")[0]; %>
                  <!-- collapse the parallel full-text -->
                  <span class="caret" data-bs-toggle="collapse" data-bs-target="#collapse-parallel-<%= key; %>" aria-expanded="false" aria-controls="collapse-parallel-<%= key; %>"></span>
                </span>

                <!-- full-text -->
                <div class="collapse" id="collapse-parallel-<%= key; %>">
                  <div class="card card-body">
                    <!-- full-text -->
                    <% value.forEach((el) => { %>
                      <div data-type="parallel" data-subtype="parallel">
                        <span data-type="parallel" data-subtype="full-text"><%- el["value"]; %></span>
                        <span class="me-2" data-type="location" data-subtype="location-bottom">
                          <span data-type="location" data-subtype="doubleDandas">||</span><% if (el["book"] !== "") { %><span data-type="location" data-subtype="book"><%= el["book"]; %></span><span data-type="location" data-subtype="pointSeparator">.</span><% }; %><span data-type="location" data-subtype="bookChapter"><%= el["bookChapter"]; %></span><% if (el["bookStanza"] !== "") { %><span data-type="separator" data-subtype="pointSeparator">.</span><span data-type="location" data-subtype="bookStanza"><%= el["bookStanza"]; %></span><% }; %><span data-type="location" data-subtype="doubleDandas">||</span>
                        </span>
                      </div>
                      <% if (el["note"] !== "") { %>
                        <span class="btn-note" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-parallel-note-<%= el['id']; %>" aria-expanded="false" aria-controls="collapse-parallel-note-<%= el['id']; %>"></span>
                        <div class="collapse mb-3" id="collapse-parallel-note-<%= el['id']; %>">
                          <div class="card card-body">
                            <div data-type="parallel" data-subtype="note"><%- el["note"]; %></div>
                          </div>
                        </div>
                      <% }; %>
                    <% }); %>
                  </div>
                </div>
                <% }; %>
              </div>
            <% }); %>
          </div>

          <!-- citations -->
          <div class="tab-pane fade" id="pills-citations" role="tabpanel">
            <% citations.forEach((el) => { %>
              <div data-type="citation" data-subtype="citation">
                <span class="me-1" data-type="location" data-subtype="location-top">
                  <span data-type="citation" data-subtype="stanzaStart"><%= el["stanzaStart"]; %></span><span data-type="citation" data-subtype="padaStart"><%= el["padaStart"].replace(/,|a\,b\,c\,d\,e\,f|a\,b\,c\,d/g, ""); %></span>
                </span>
                <span data-type="citations" data-subtype="full-text"><%- el["value"]; %></span>
              </div>
            <% }); %>
          </div>

          <!-- commentary -->
          <div class="tab-pane fade" id="pills-commentary" role="tabpanel">
            <% commentary.forEach((el) => { %>
              <!-- commentary full-text -->
              <div data-type="commentary" data-subtype="commentary">
                <span data-type="commentary" data-subtype="full-text"><%- el["value"]; %></span>
              </div>
              <!-- commentary note -->
              <% if (el["note"] !== "") { %>
                <span class="btn-note" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-commentary-note-<%= el['id']; %>" aria-expanded="false" aria-controls="collapse-commentary-note-<%= el['id']; %>"></span>
                <div class="collapse mb-3" id="collapse-commentary-note-<%= el['id']; %>">
                  <div class="card card-body">
                    <div data-type="commentary" data-subtype="note"><%- el["note"]; %></div>
                  </div>
                </div>
              <% }; %>
              <!-- commentary translation -->
              <% if (el["translation"] !== "") { %>
                <span class="btn-translation" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-commentary-translation-<%= el['id']; %>" aria-expanded="false" aria-controls="collapse-commentary-translation-<%= el['id']; %>"></span>
                <div class="collapse mb-3" id="collapse-commentary-translation-<%= el['id']; %>">
                  <div class="card card-body">
                    <div class="mb-2" data-type="commentary" data-subtype="translation">
                      <h5 class="h6">Translation</h5>
                      <%- el["translation"]; %>
                    </div>
                    <% if (el["translationNote"] !== "") { %>
                      <div data-type="commentary" data-subtype="translationNote">
                        <h5 class="h6">Notes on the translation</h5>
                        <%- el["translationNote"]; %>
                      </div>
                    <% }; %>
                  </div>
                </div>
              <% }; %>
            <% }); %>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-light p-2">
    <div class="row">
      <div class="col-md-12">

        <!-- apparatus -->
        <% if (apparatus.length > 0) { %>
          <button type="button" class="btn btn-sm btn-yellow" data-bs-toggle="collapse" href="#collapse-apparatus" role="button" aria-expanded="false" aria-controls="collapse-apparatus">Apparatus</button>
          <div class="collapse" id="collapse-apparatus">
            <div class="card card-body">
              <% apparatus.forEach((entry) => { %>
                <div data-type="apparatus" data-subtype="entry">
                  <% entry.forEach((el) => { %>

                    <!-- location -->
                    <span data-type="apparatus" data-subtype="stanzaStart"><%= el["lemma"]["stanzaStart"]; %></span><span data-type="apparatus" data-subtype="padaStart"><%= el["lemma"]["padaStart"].replace(/,|a\,b\,c\,d\,e\,f|a\,b\,c\,d/g, ""); %></span><% if (el["lemma"]["stanzaEnd"] !== el["lemma"]["stanzaStart"]) { %><span data-type="apparatus" data-subtype="stanzaEnd"><%= el["lemma"]["stanzaEnd"]; %></span><% };%><% if (el["lemma"]["stanzaEnd"] + el["lemma"]["padaEnd"] !== el["lemma"]["stanzaStart"] + el["lemma"]["padaStart"]) { %><span data-type="apparatus" data-subtype="padaEnd"><%= el["lemma"]["padaEnd"]; %></span><% };%>

                    <!-- lemma -->
                    <span class="fst-italic" data-type="apparatus" data-subtype="lemma"><%= el["lemma"]["lemma"]; %></span>
                    <!-- square bracket -->
                    <span data-type="separator" data-subtype="squareBracket"> &#x5d; </span>
                    <!-- witnesses -->
                    <% el["witnessesLemma"].forEach((witness) => { %>
                      <span data-type="apparatus" data-subtype="witnessesLemma"><%- witness["siglum"]; %></span>
                    <% }); %>
                    <!-- notes -->
                    <% if (el["lemma"]["notes"] !== "") { %>
                      <span class="note" data-type="apparatus" data-subtype="lemmaNotes"><%- el["lemma"]["notes"]; %></span>
                    <% }; %>

                    <!-- variants -->
                    <% el["variants"].forEach((variant) => { %>
                      <!-- variant -->
                      <span class="ms-5 fst-italic" data-type="apparatus" data-subtype="variant"><%= variant["variant"]["variant"]; %></span>
                      <!-- witnesses-->
                      <% variant["witnessesVariant"].forEach((witness) => { %>
                        <span data-type="apparatus" data-subtype="witnessesVariant"><%- witness["siglum"]; %></span>
                      <% }); %>
                      <!-- notes -->
                      <% if (variant["variant"]["notes"] !== "") { %>
                        <span class="note" data-type="apparatus" data-subtype="variantNotes"><%- variant["variant"]["notes"]; %></span>
                      <% }; %>
                    <% }); %>
                    
                  <% }); %>
                </div>
              <% }); %>
            </div>
          </div>
        <% }; %>

        <!-- notes -->
        <% if (notes.length > 0) { %>
          <button type="button" class="btn btn-sm btn-blue" data-bs-toggle="collapse" href="#collapse-notes" role="button" aria-expanded="false" aria-controls="collapse-notes">Notes</button>
          <div class="collapse" id="collapse-notes">
            <div class="card card-body">
              <% notes.forEach((el) => { %>
                <div data-type="note" data-subtype="note">
                  <span class="me-1" data-type="location" data-subtype="location-top">
                    <span data-type="note" data-subtype="stanzaStart"><%= el["stanzaStart"]; %></span><span data-type="note" data-subtype="padaStart"><%= el["padaStart"].replace(/,|a\,b\,c\,d\,e\,f|a\,b\,c\,d/g, ""); %></span>
                  </span>
                  <span data-type="note" data-subtype="full-text"><%- el["value"]; %></span>
                </div>
              <% }); %>
            </div>
          </div>
        <% }; %>
        
      </div>
    </div>
  </div>
  <%- include ("partials/script") %>
</body>

</html>