<!DOCTYPE html>
<html>
<%- include ("partials/head") %>

<body class="bg-light overflow-hidden">
  <%- include ("partials/navbar") %>
  <!-- header -->
  <div class="container-fluid bg-light p-2">
    <div class="row">
      <!-- title -->
      <div class="col-md-8">
        <a href="<%= prevUrl; %>" type="button" class="btn btn-sm btn-light border"><i class="bi bi-arrow-left"></i></a>        
        <% if (typeof title !== "undefined") { %>
          <div class="d-inline" id="header">
            <h1 class="h4 d-inline">
              <%= title %>
              <!--<% authors.forEach((author) => { %>
                <%= author; %>
              <% }); %>-->
            </h1>
            <h2 class="d-inline h5 text-secondary">
              <span data-type="header" data-subtype="curated-by">curated by</span>
              <span class="after-coma">
                <% if (editors) { %>
                  <% editors.forEach((editor) => { %>
                    <span class="after-coma-content" data-type="header" data-subtype="editor"><%= editor; %></span>
                  <% }); %>
                <% }; %>
                <% if (secondaryEditors) { %>
                  <% secondaryEditors.forEach((secondaryEditor) => { %>
                    <span class="after-coma-content" data-type="header" data-subtype="editor"><%= secondaryEditor; %></span>
                  <% }); %>
                <% }; %>
              </span>
            </h2>
          </div>
          <!-- credits -->
          <div class="d-inline">
            <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#credits-modal">
              Credits
            </button>
            <div class="modal fade" id="credits-modal" tabindex="-1" aria-labelledby="credits-modal" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Credits</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <!-- editors -->
                    <div>
                      <% if (editors.length + secondaryEditors.length > 1) { %>
                        <h2 class="d-inline h5">Editors:</h2>
                      <% } else { %>
                        <h2 class="d-inline h5">Editor:</h2>
                      <% }; %>
                      <span class="after-coma">
                        <% editors.forEach((editor) => { %>
                          <span class="after-coma-content"><%= editor; %></span>
                        <% }); %>
                        <% secondaryEditors.forEach((secondaryEditor) => { %>
                          <span class="after-coma-content"><%= secondaryEditor; %></span>
                        <% }); %>
                      </span>
                    </div>
                    <!-- contributors -->
                    <div>
                      <% if (contributors.length > 1) { %>
                        <h2 class="d-inline h5">Contributors:</h2>
                      <% } else if (contributors.length == 1) { %>
                        <h2 class="d-inline h5">Contributor:</h2>
                      <% }; %>
                      <span class="after-coma">
                        <% contributors.forEach((contributor) => { %>
                          <span class="after-coma-content"><%= contributor; %></span>
                        <% }); %>
                      </span>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <% }; %>
      </div>
      <div class="col-md-4 text-end">
        <!-- download -->
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Download
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item disabled">Roman</a></li>
            <li><a class="dropdown-item" id="txt-download">.txt <i>Textus</i></a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" id="pdf-download">PDF <i>Textus, Apparatus and Parallels</i></a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" id="xml-tei-download">XML/TEI</a></li>
          </ul>
        </div>
        <!-- tutorial -->
        <button type="button" class="btn btn-sm btn-light border"><i class="bi bi-question-lg"></i></button>
      </div>
    </div>
  </div>
  <!-- edition -->
  <div class="container-fluid bg-white edition-container-vis">
    <div class="row">

      <!-- textus constitutus -->
      <div class="col-md-6 border p-3 enlarge-col" id="txt-<%= id %>">

        <!-- roman / devanagari converter -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-sm btn-primary btn-converter p-f" data-script="devanagari">Convert to <span class="scriptLabel">Devanāgārī</span></button>
        </div>

        <!-- textus constitutus -->
        <% if (file) { %>
          
          <!-- roman text -->
          <div class="ff-edition text-to-convert" data-script="roman" id="textus"><%- include (`../uploads/${file}`) %></div>

          <!-- devanagari text -->
          <div class="ff-edition text-to-convert" data-script="devanagari"></div>

        <% } else { %>
          <p>The edition is coming soon!</p>
        <% }; %>
      </div>
      
      <!-- other components -->
      <div class="col-md-6 border p-3 enlarge-col">
        <ul class="nav nav-pills mb-1" id="pills-tab" role="tablist">

          <!-- translation -->
          <% if (translation.length > 0) { %>
            <li class="nav-item" role="presentation">
              <button class="btn btn-sm btn-teal me-1 active" data-bs-toggle="pill" data-bs-target="#pills-translation" type="button" role="tab" aria-controls="pills-translation" aria-selected="true">Translation</button>
            </li>
          <% }; %>

          <!-- parallels -->
          <% if (parallels.length > 0) { %>
            <li class="nav-item" role="presentation">
              <button class="btn btn-sm btn-orange me-1" data-bs-toggle="pill" data-pill="#pills-parallel" data-bs-target="#pills-parallel" type="button" role="tab" aria-controls="pills-parallels" aria-selected="false">Parallels</button>
            </li>
          <% }; %>

          <!-- citations -->
          <% if (citations.length > 0) { %>
            <li class="nav-item" role="presentation">
              <button class="btn btn-sm btn-fuchsia me-1" data-bs-toggle="pill" data-bs-target="#pills-citation" type="button" role="tab" aria-controls="pills-citations" aria-selected="false">Citations</button>
            </li>
          <% }; %>

          <!-- commentary -->
          <% if (commentary.length > 0) { %>
            <li class="nav-item" role="presentation">
              <button class="btn btn-sm btn-indigo me-1" data-bs-toggle="pill" data-bs-target="#pills-commentary" type="button" role="tab" aria-controls="pills-commentary" aria-selected="false">Commentary</button>
            </li>
          <% }; %>

          <!-- tamil -->
          <% if (tamil.length > 0) { %>
            <li class="nav-item" role="presentation">
              <button class="btn btn-sm btn-yellow me-1" data-bs-toggle="pill" data-bs-target="#pills-tamil" type="button" role="tab" aria-controls="pills-tamil" aria-selected="false">Tamil</button>
            </li>
          <% }; %>
        </ul>

        <div class="tab-content" id="pills-tabContent">

          <!-- translation -->
          <div class="tab-pane entries-block fade show active" id="pills-translation" role="tabpanel">
            <% if (translation) { %>
              <!-- languages -->
              <% if (langTranslation) { %>
                <% langTranslation.forEach((lang) => { %>
                  <button class="btn btn-sm btn-teal" type="button" data-bs-toggle="collapse" data-bs-target='#translation-<%= lang; %>' aria-expanded="false" aria-controls='translation-<%= lang; %>'>
                    <%= lang; %>
                  </button>
                  <% if (lang == "English") { %>
                    <div class="collapse show" id='translation-<%= lang; %>'>
                      <div class="card card-body">
                        <% translation.forEach((el) => { %>
                          <% if (el["langTranslation"] == lang) { %>
                            <!-- translation full-text -->
                            <div data-type="translation" data-subtype="translation">

                              <!-- go to textus -->
                              <span class="no-span-space"><i class="bi bi-caret-right-fill entries green-400" data-bs-toggle="tooltip" data-bs-html="true" data-bs-custom-class="tooltip-green-400" data-bs-title="Check in the <i>textus</i>" data-type="translation" data-ref='<%= el["idAnnotation"]; %>'></i></span>

                              <!-- location  -->
                              <span class="no-span-space me-2" data-type="location" data-subtype="location-top">
                                <span class="no-span-space" data-type="translation" data-subtype="chapter"><%= el["chapter"]; %></span><span data-type="location" data-subtype="pointSeparator">.</span><span data-type="translation" data-subtype="stanzaStart"><%= el["stanzaStart"]; %></span>
                              </span>
                              
                              <!-- full text -->
                              <span class="no-span-space fs-xxs" data-type="translation" data-subtype="full-text"><%- el["value"]; %></span>
                            </div>
                            <!-- translation note -->
                            <% if (el["note"] !== "") { %>
                              <span class="btn-note" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-translation-note-<%= el['id']; %>" aria-expanded="false" aria-controls="collapse-translation-note-<%= el['id']['low']; %>"></span>
                              <div class="collapse mb-3" id="collapse-translation-note-<%= el['id']; %>">
                                <div class="card card-body fs-xxs">
                                  <div data-type="translation" data-subtype="note"><%- el["note"]; %></div>
                                </div>
                              </div>
                            <% }; %>
                          <% }; %>
                        <% }); %>
                      </div>
                    </div>
                  <% } else { %>
                    <div class="collapse" id='translation-<%= lang; %>'>
                      <div class="card card-body">
                        <% translation.forEach((el) => { %>
                          <% if (el["langTranslation"] == lang) { %>
                            <!-- translation full-text -->
                            <div data-type="translation" data-subtype="translation">

                              <!-- go to textus -->
                              <span class="no-span-space"><i class="bi bi-caret-right-fill entries green-400" data-bs-toggle="tooltip" data-bs-html="true" data-bs-custom-class="tooltip-green-400" data-bs-title="Check in the <i>textus</i>" data-type="translation" data-ref='<%= el["idAnnotation"]; %>'></i></span>

                              <!-- location -->
                              <span class="no-span-space me-1" data-type="location" data-subtype="location-top">
                                <span data-type="translation" data-subtype="chapter"><%= el["chapter"]; %></span><span data-type="location" data-subtype="pointSeparator">.</span><span data-type="translation" data-subtype="stanzaStart"><%= el["stanzaStart"]; %></span>
                              </span>

                              <!-- full-text -->
                              <span class="no-span-space fs-xxs" data-type="translation" data-subtype="full-text"><%- el["value"]; %></span>
                            </div>
                            <!-- translation note -->
                            <% if (el["note"] !== "") { %>
                              <span class="btn-note" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-translation-note-<%= el['id']; %>" aria-expanded="false" aria-controls="collapse-translation-note-<%= el['id']['low']; %>"></span>
                              <div class="collapse mb-3" id="collapse-translation-note-<%= el['id']; %>">
                                <div class="card card-body fs-xxs">
                                  <div data-type="translation" data-subtype="note"><%- el["note"]; %></div>
                                </div>
                              </div>
                            <% }; %>
                          <% }; %>
                        <% }); %>
                      </div>
                    </div>
                  <% } %>
                <% }); %>
              <% }; %>
            <% }; %>
          </div>

          <!-- parallels -->
          <div class="tab-pane entries-block fade" id="pills-parallel" role="tabpanel">
            <% parallels.forEach((parallel) => { %>
              <div class="mb-3" data-type="parallel" data-subtype="parallel">
                <% for (const [key, value] of Object.entries(parallel)) { %>

                <!-- title -->
                <span class="fw-bold title-subsection fs-xs" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="Author: <b><%= key.split('___')[1]; %></b>">
                  <!-- title with tooltip -->
                  <%= key.split("___")[0]; %>
                  <!-- collapse the parallel full-text -->
                  <span class="caret" data-bs-toggle="collapse" data-bs-target="#collapse-parallel-<%= key; %>" aria-expanded="true" aria-controls="collapse-parallel-<%= key; %>"></span>
                </span>

                <!-- full-text -->
                <div class="collapse show inlineAppDiv parallel-layout" id="collapse-parallel-<%= key; %>">
                    <!-- full-text -->
                    <% value.forEach((el) => { %>
                      <div class="fs-xxs mt-2 parallel-txt" data-type="parallel" data-subtype="parallel" data-n='<%= el["stanzaStart"] %>' data-title='<%= key.split("___")[0]; %>' data-ref='txt-<%= el["idAnnotation"]; %>' data-book='<%= el["book"]; %>' data-book-chapter='<%= el["bookChapter"]; %>' data-book-stanza='<%= el["bookStanza"]; %>'>
                        <!-- full-text -->
                        <span data-type="parallel" data-subtype="full-text">
                          <%- el["value"]; %>
                        </span>
                        <span class="me-2" data-type="location" data-subtype="location-bottom">
                          <span data-type="location" data-subtype="doubleDandas">||</span><% if (el["book"] !== "") { %><span data-type="location" data-subtype="book"><%= el["book"]; %></span><span data-type="location" data-subtype="pointSeparator">.</span><% }; %><span data-type="location" data-subtype="bookChapter"><%= el["bookChapter"]; %></span><% if (el["bookStanza"] !== "") { %><span data-type="separator" data-subtype="pointSeparator">.</span><span data-type="location" data-subtype="bookStanza"><%= el["bookStanza"]; %></span><% }; %><span data-type="location" data-subtype="doubleDandas">||</span>
                        </span>
                      </div>
                      <div class="fs-xxs orange-400 tooltip-link mt-2">
                      <% if (typeof title !== "undefined") { %>
                        <span><i class="bi bi-caret-right-fill entries orange-400" data-bs-toggle="tooltip" data-bs-html="true" data-bs-custom-class="tooltip-orange-400" data-bs-title="Check in the <i>textus</i>" data-type="parallel" data-ref='<%= el["idAnnotation"]; %>'></i></span>
                        <span><%= title %>: </span><%= el["chapter"]%>.<span class="par-stanza" data-n='<%= el["stanzaStart"] %>'><%= el["stanzaStart"] %></span>
                      <% }; %>
                      </div>
                      <% if (el["note"] !== "") { %>
                        <span class="btn-note" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-parallel-note-<%= el['id']; %>" aria-expanded="false" aria-controls="collapse-parallel-note-<%= el['id']; %>"></span>
                        <div class="collapse inlineAppDiv mb-3" id="collapse-parallel-note-<%= el['id']; %>">
                          <div class="card card-body fs-xxs">
                            <div data-type="parallel" data-subtype="note"><%- el["note"]; %></div>
                          </div>
                        </div>
                      <% }; %>
                    <% }); %>
                </div>
                <% }; %>
              </div>
            <% }); %>
          </div>

          <!-- citations -->
          <div class="tab-pane entries-block fade" id="pills-citation" role="tabpanel">
            <% citations.forEach((el) => { %>
              <div class="mt-3" data-type="citation" data-subtype="citation">
                <span><i class="bi bi-caret-right-fill entries fuchsia-400" data-bs-toggle="tooltip" data-bs-html="true" data-bs-custom-class="tooltip-fuchsia-400" data-bs-title="Check in the <i>textus</i>" data-type="citation" data-ref='<%= el["idAnnotation"]; %>'></i></span>
                <!-- location -->
                <span class="fs-xxs me-1" data-type="location" data-subtype="location-top">
                  <span data-type="citation" data-subtype="stanzaStart"><%= el["stanzaStart"]; %></span><span data-type="citation" data-subtype="padaStart"><%= el["padaStart"].replace(/,|a\,b\,c\,d\,e\,f|a\,b\,c\,d/g, ""); %></span>
                </span>
                <!-- citation -->
                <span class="fs-xxs fw-l" data-type="citations" data-subtype="full-text"><%= el["value"]; %></span>
                <!-- note on citation -->
                <% if (el["note"] !== "") { %>
                  <div>
                    <span class="btn-note" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-citation-note-<%= el['id']; %>" aria-expanded="false" aria-controls="collapse-citation-note-<%= el['id']['low']; %>"></span>
                    <div class="collapse mb-3" id="collapse-citation-note-<%= el['id']; %>">
                      <div class="card card-body fs-xxs">
                        <div data-type="citation" data-subtype="note"><%- el["note"]; %></div>
                      </div>
                    </div>
                  </div>
                <% }; %>
              </div>
            <% }); %>
          </div>

          <!-- commentary -->
          <div class="tab-pane entries-block fade" id="pills-commentary" role="tabpanel">
            <% commentary.forEach((el) => { %>
              <div>
                <!-- link -->
                <span class="no-span-space"><i class="bi bi-caret-right-fill entries indigo-200" data-bs-toggle="tooltip" data-bs-html="true" data-bs-custom-class="tooltip-indigo-200" data-bs-title="Check in the <i>textus</i>" data-type="commentary" data-ref='<%= el["idAnnotation"]; %>'></i></span>
                <!-- location -->
                <span class="no-space-span fs-xxs me-1" data-type="location" data-subtype="location-top">
                  <span class="no-span-space" data-type="commentary" data-subtype="chapter"><%= el["chapter"]; %></span><span data-type="location" data-subtype="pointSeparator">.</span><span data-type="commentary" data-subtype="stanzaStart"><%= el["stanzaStart"]; %></span><span data-type="commentary" data-subtype="padaStart"><%= el["padaStart"].replace(/,|a\,b\,c\,d\,e\,f|a\,b\,c\,d/g, ""); %></span>
                </span>
                <!-- commentary full-text -->
                <span class="no-span-space fs-xxs" data-type="commentary" data-subtype="full-text"><%- el["value"]; %></span>
                <!-- commentary note -->
                <div>
                  <% if (el["note"] !== "") { %>
                    <span class="btn-note" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-commentary-note-<%= el['id']; %>" aria-expanded="false" aria-controls="collapse-commentary-note-<%= el['id']; %>"></span>
                    <div class="collapse mb-3" id="collapse-commentary-note-<%= el['id']; %>">
                      <div class="card card-body fs-xxs">
                        <div data-type="commentary" data-subtype="note"><%- el["note"]; %></div>
                      </div>
                    </div>
                  <% }; %>
                  <!-- commentary translation -->
                  <% if (el["translation"] !== "") { %>
                    <span class="btn-translation" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-commentary-translation-<%= el['id']; %>" aria-expanded="false" aria-controls="collapse-commentary-translation-<%= el['id']; %>"></span>
                    <div class="collapse mb-3" id="collapse-commentary-translation-<%= el['id']; %>">
                      <div class="card card-body fs-xxs">
                        <div class="mb-2" data-type="commentary" data-subtype="translation">
                          <h5 class="h6">Translation</h5>
                          <%- el["translation"]; %>
                        </div>
                        <% if (el["translationNote"] !== "") { %>
                          <div data-type="commentary" data-subtype="translationNote">
                            <h5 class="h6">Note on the translation</h5>
                            <div class="fs-xxs"><%- el["translationNote"]; %></div>
                          </div>
                        <% }; %>
                      </div>
                    </div>
                  <% }; %>
                </div>
              </div>
            <% }); %>
          </div>

          <!-- tamil -->
          <div class="tab-pane entries-block fade" id="pills-tamil" role="tabpanel">
            <% tamil.forEach((el) => { %>
              <div>
                <!-- link -->
                <span class="no-span-space"><i class="bi bi-caret-right-fill entries yellow-600" data-bs-toggle="tooltip" data-bs-html="true" data-bs-custom-class="tooltip-yellow-600" data-bs-title="Check in the <i>textus</i>" data-type="tamil" data-ref='<%= el["idAnnotation"]; %>'></i></span>
                <!-- location -->
                <span class="no-space-span fs-xxs me-1" data-type="location" data-subtype="location-top">
                  <span class="no-span-space" data-type="tamil" data-subtype="chapter"><%= el["chapter"]; %></span><span data-type="location" data-subtype="pointSeparator">.</span><span data-type="tamil" data-subtype="stanzaStart"><%= el["stanzaStart"]; %></span><span data-type="tamil" data-subtype="padaStart"><%= el["padaStart"].replace(/,|a\,b\,c\,d\,e\,f|a\,b\,c\,d/g, ""); %></span>
                </span>
                <!-- tamil intro -->
                <% if (el["intro"] !== "") { %>
                  <span class="no-span-space fs-xxs" data-type="tamil" data-subtype="intro"><%- el["intro"]; %></span>
                  <br/>
                <% }; %>
                <!-- tamil full-text -->
                <span class="no-span-space fs-xxs" data-type="tamil" data-subtype="full-text"><%- el["value"]; %></span>
                <div>
                  <!-- note -->
                  <% if (el["note"] !== "") { %>
                    <span class="btn-note" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-tamil-note-<%= el['id']; %>" aria-expanded="false" aria-controls="collapse-tamil-note-<%= el['id']; %>"></span>
                    <div class="collapse mb-3" id="collapse-tamil-note-<%= el['id']; %>">
                      <div class="card card-body fs-xxs">
                        <div data-type="tamil" data-subtype="note"><%- el["note"]; %></div>
                      </div>
                    </div>
                  <% }; %>
                  <!-- note on the translation -->
                  <% if (el["translationNote"] !== "") { %>
                    <span class="btn-tamil-translation" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-tamil-translationNote-<%= el['id']; %>" aria-expanded="false" aria-controls="collapse-tamil-translationNote-<%= el['id']; %>"></span>
                    <div class="collapse mb-3" id="collapse-tamil-translationNote-<%= el['id']; %>">
                      <div class="card card-body fs-xxs">
                        <div class="mb-2" data-type="tamil" data-subtype="translationNote">
                          <%- el["translationNote"]; %>
                        </div>
                      </div>
                    </div>
                  <% }; %>
                  <!-- commentary -->
                  <% if (el["commentary"] !== "") { %>
                    <span class="btn-commentary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-tamil-commentary-<%= el['id']; %>" aria-expanded="false" aria-controls="collapse-tamil-commentary-<%= el['id']; %>"></span>
                    <div class="collapse mb-3" id="collapse-tamil-commentary-<%= el['id']; %>">
                      <div class="card card-body fs-xxs">
                        <div class="mb-2" data-type="tamil" data-subtype="commentary">
                          <%- el["commentary"]; %>
                        </div>
                        <% if (el["commentaryTranslation"] !== "") { %>
                          <div data-type="tamil" data-subtype="commentaryTranslation">
                            <h5 class="h6">Commentary translation</h5>
                            <div class="fs-xxs"><%- el["commentaryTranslation"]; %></div>
                          </div>
                        <% }; %>
                      </div>
                    </div>
                  <% }; %>
                </div>
              </div>
            <% }); %>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-light p-2">
    <div class="row">
      <div class="col-md-12">

        <!-- apparatus -->
        <div class="d-flex">
          <% if (apparatus.length > 0) { %>
            <button type="button" class="btn btn-sm btn-light-blue caret" data-pill="#pills-apparatus" data-bs-toggle="collapse" href="#collapse-apparatus" role="button" aria-expanded="false" aria-controls="collapse-apparatus">Apparatus</button>
            <div class="collapse w-100" id="collapse-apparatus">
              <div class="card card-body">
                <% apparatus.forEach((entry) => { %>
                  <div class="fs-xs" data-type="apparatus" data-subtype="entry">
                    <% entry.forEach((el) => { %>

                      <!-- go to textus -->
                      <i class="bi bi-caret-right-fill entries blue-600" data-bs-toggle="tooltip" data-bs-html="true" data-bs-custom-class="tooltip-blue-600" data-bs-title="Check in the <i>textus</i>" data-type="apparatus" data-ref='<%= el["lemma"]["idApp"]; %>'></i>

                      <!-- actual app entry -->
                      <div class="d-inline app-txt" data-type="apparatus" data-subtype="apparatus" data-n='<%= el["lemma"]["stanzaStart"]; %>' data-ref='<%= el["lemma"]["idApp"]; %>'>
                        <!-- location -->
                        <span data-type="apparatus" data-subtype="stanzaStart" data-n='<%= el["lemma"]["stanzaStart"]; %>'><%= el["lemma"]["stanzaStart"]; %></span><span data-type="apparatus" data-subtype="padaStart"><%= el["lemma"]["padaStart"].replace(/,|a\,b\,c\,d\,e\,f|a\,b\,c\,d/g, ""); %></span><% if (el["lemma"]["stanzaEnd"] !== el["lemma"]["stanzaStart"]) { %><span data-type="apparatus" data-subtype="stanzaEnd"><%= el["lemma"]["stanzaEnd"]; %></span><% };%><% if (el["lemma"]["stanzaEnd"] + el["lemma"]["padaEnd"] !== el["lemma"]["stanzaStart"] + el["lemma"]["padaStart"]) { %><span data-type="apparatus" data-subtype="padaEnd"><%= el["lemma"]["padaEnd"]; %></span><% };%>

                        <!-- lemma -->
                        <% if (el["lemma"]["lemma"].indexOf("lemmaOmission") > -1) { %>
                          <span class="fst-italic" data-type="apparatus" data-subtype="lemma">om.</span>
                        <% } else { %>
                          <span class="fst-italic" data-type="apparatus" data-subtype="lemma"><%= el["lemma"]["lemma"]; %></span>
                        <% }; %>

                        <!-- square bracket -->
                        <span data-type="separator" data-subtype="squareBracket"> &#x5d; </span>
                        <!-- witnesses -->
                        <% el["witnessesLemma"].forEach((witness) => { %>
                          <span class="red-600" data-type="apparatus" data-subtype="witnessesLemma"><%- witness["siglum"]; %></span>
                        <% }); %>

                        <!-- notes -->
                        <% if (el["lemma"]["notes"] !== "") { %>
                          <span class="note" data-type="apparatus" data-subtype="lemmaNotes"><%- el["lemma"]["notes"]; %></span>
                        <% }; %>

                        <!-- coma -->
                        <span class="m--3">, </span>

                        <!-- variants -->
                        <% el["variants"].forEach((variant) => { %>
                          <!-- variant -->
                          
                          <!-- variant -->
                          <% if (variant["variant"]["value"].indexOf("variantOmission") > -1) { %>
                            <span class="fst-italic" data-type="apparatus" data-subtype="variant">om.</span>
                          <% } else { %>
                            <span class="fst-italic" data-type="apparatus" data-subtype="variant"><%= variant["variant"]["variant"]; %></span>
                          <% }; %>
                          
                          <!-- witnesses-->
                          <% variant["witnessesVariant"].forEach((witness) => { %>
                            <span class="red-600" data-type="apparatus" data-subtype="witnessesVariant"><%- witness["siglum"]; %></span>
                          <% }); %>
                          <!-- notes -->
                          <% if (variant["variant"]["notes"] !== "") { %>
                            <span class="note" data-type="apparatus" data-subtype="variantNotes"><%- variant["variant"]["notes"]; %></span>
                          <% }; %>
                        <% }); %>
                      </div>
                      
                    <% }); %>
                  </div>
                <% }); %>
              </div>
            </div>
          <% }; %>

          <!-- notes -->
          <% if (notes.length > 0) { %>
              <button type="button" class="btn btn-sm btn-blue caret" data-bs-toggle="collapse" href="#collapse-notes" role="button" aria-expanded="false" aria-controls="collapse-notes">Notes</button>
              <div class="collapse w-100" id="collapse-notes">
                <div class="card card-body">
                  <% notes.forEach((el) => { %>
                    <div class="fs-xs" data-type="note" data-subtype="note">
                      <span class="no-span-space"><i class="bi bi-caret-right-fill entries darkslategray" data-bs-toggle="tooltip" data-bs-html="true" data-bs-custom-class="tooltip-darkslategray" data-bs-title="Check in the <i>textus</i>" data-type="note" data-ref='<%= el["idAnnotation"]; %>'></i></span>
                      <span class="no-span-space" data-type="location" data-subtype="location-top">
                        <span class="no-span-space" data-type="note" data-subtype="stanzaStart"><%= el["stanzaStart"]; %></span><span data-type="note" data-subtype="padaStart"><%= el["padaStart"].replace(/,|a\,b\,c\,d\,e\,f|a\,b\,c\,d/g, ""); %></span>
                      </span>
                      <span class="no-span-space" data-type="note" data-subtype="full-text"><%- el["value"]; %></span>
                    </div>
                  <% }); %>
                </div>
              </div>
          <% }; %>
        </div>
        
      </div>
    </div>
  </div>
  <%- include ("partials/scriptEdition") %>
</body>

</html>