<!DOCTYPE html>
<html>
<%- include ("partials/head") %>

<body>
  <%- include ("partials/navbar") %>
  <!-- header -->
  <div class="container-fluid bg-light p-2">
    <div class="row">
      <!-- title -->
      <div class="col-md-8">
        <button type="button" class="btn btn-sm btn-light border"><i class="bi bi-arrow-left"></i></button>
        <% if (typeof title !== "undefined") { %>
        <h1 class="h4 d-inline"><%= title %><span>, </span><%= author %></h1>
        <h2 class="d-inline h5 text-secondary">Curated by <%= editor %></h2>
        <% }; %>
      </div>
      <div class="col-md-4 text-end">
        <!-- download -->
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Download
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">LateX</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">PDF</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">XML/TEI</a></li>
          </ul>
        </div>
        <!-- tutorial -->
        <button type="button" class="btn btn-sm btn-light border"><i class="bi bi-question-lg"></i></button>
      </div>
    </div>
  </div>
  <!-- edition -->
  <div class="container-fluid bg-white edition-container-vis">
    <div class="row">
      <!-- textus constitutus -->
      <div class="col-md-4 border p-3 enlarge-col">
        <h3 class="h6 nowrap"><i class="bi bi-x-lg"></i> Textus constitutus</h3>
        <% if (file) { %>
        <%- include (`../uploads/${file}`) %>
        <% }; %>
      </div>
      <!-- translation -->
      <div class="col-md-4 border p-3 enlarge-col">
        <h3 class="h6 nowrap"><span><i class="bi bi-x-lg"></i></span> Translation</h3>
        <% if (typeof translation !== "undefined") { %>
        <% translation.forEach((el) => { %>
        <!-- translation full-text -->
        <div data-type="translation" data-subtype="translation">
          <!-- location -->
          <span data-type="translation" data-subtype="location"><%= chapter %>.<%= el.split("___")[0]; %></span>
          <% var translation = el.split("___")[1]; %>
          <% translation = translation.split("@")[0]; %>
          <!-- translation full-text -->
          <div data-type="translation" data-subtype="full-text">
            <%- translation; %>
          </div>
        </div>
        <!-- note on the translation -->
        <% var note = el.split("@")[1]; %>
        <% note = note.split("#")[0]; %>
        <% var id = el.split("#")[1]%>
        <% if (note) { %>
        <span class="btn-note" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-translation-<%= id %>" aria-expanded="false" aria-controls="collapse-translation-<%= id %>"></span>
        <div class="collapse" id="collapse-translation-<%= id %>">
          <div class="card card-body">
            <div data-type="translation" data-subtype="note">
              <%- note %>
            </div>
          </div>
        </div>
        <% }; %>
        <% }); %>
        <% }; %>
      </div>

      <div class="col-md-4 border p-3 enlarge-col">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="btn btn-sm btn-orange active" data-bs-toggle="pill" data-bs-target="#pills-parallels" type="button" role="tab" aria-controls="pills-parallels" aria-selected="true">Parallels</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="btn btn-sm btn-fuchsia mx-1" data-bs-toggle="pill" data-bs-target="#pills-citations" type="button" role="tab" aria-controls="pills-citations" aria-selected="false">Citations</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="btn btn-sm btn-indigo" data-bs-toggle="pill" data-bs-target="#pills-commentary" type="button" role="tab" aria-controls="pills-commentary" aria-selected="false">Commentary</button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <!-- parallels -->
          <div class="tab-pane fade show active" id="pills-parallels" role="tabpanel">
            <h3 class="h6 nowrap">Parallels</h3>
            <% if (typeof parallels !== "undefined") { %>
            <% parallels.forEach((el) => { %>
            <div>
              <%- el %>
            </div>
            <% }); %>
            <% }; %>
          </div>
          <!-- citations -->
          <div class="tab-pane fade" id="pills-citations" role="tabpanel">
            <h3 class="h6 nowrap">Citations</h3>
            <% if (typeof citations !== "undefined") { %>
            <% citations.forEach((el) => { %>
            <div>
              <%- el %>
            </div>
            <% }); %>
            <% }; %>
          </div>
          <!-- commentary -->
          <div class="tab-pane fade" id="pills-commentary" role="tabpanel">
            <h3 class="h6 nowrap">Commentary</h3>
            <% if (typeof commentary !== "undefined") { %>
            <% commentary.forEach((el) => { %>

            <% var fullText = el.split("@")[0]; %>
            <% var commentaryNote = el.split("@")[1]; %>
            <% commentaryNote = commentaryNote.split("#")[0]; %>
            <% commentaryNote = commentaryNote.split("$")[0]; %>
            <% var commentaryTranslation = el.split("$")[1]; %>
            <% commentaryTranslation = commentaryTranslation.split("#")[0]; %>
            <% commentaryTranslation = commentaryTranslation.split("===")[0]; %>
            <% var commentaryTranslationNote = el.split("===")[1]; %>
            <% commentaryTranslationNote = commentaryTranslationNote.split("#")[0]; %>
            <% var id = el.split("#")[1]; %>

            <!-- commentary full-text -->
            <div data-type="commentary" data-subtype="full-text">
              <%- fullText %>
            </div>

            <!-- commentary note -->
            <% if (commentaryNote) { %><span class="btn-note" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-commentary-note-<%= id %>" aria-expanded="false" aria-controls="collapse-commentary-<%= id %>"></span><% }; %><% if (commentaryTranslation) { %><span class="btn-translation mx-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-commentary-translation-<%= id %>" aria-expanded="false" aria-controls="collapse-commentary-translation-<%= id %>"></span><% }; %>
            <!-- commentary note -->
            <div class="collapse" id="collapse-commentary-note-<%= id %>">
              <div class="card card-body">
                <div data-type="commentary" data-subtype="note"><%- commentaryNote %></div>
              </div>
            </div>
            <!-- commentary translation -->
            <div class="collapse" id="collapse-commentary-translation-<%= id %>">
              <div class="card card-body">
                <h3 class="h6">Translation</h3>
                <div data-type="commentary" data-subtype="translation"><%- commentaryTranslation %></div>
                <% if (commentaryTranslationNote) { %>
                <h3 class="h6">Note on the translation</h3>
                <div data-type="commentary" data-subtype="translation-note"><%- commentaryTranslationNote %></div>
                <% }; %>
              </div>
            </div>

            <% }); %>
            <% }; %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-light p-2">
    <div class="row">
      <div class="col-md-12">
        <!-- apparatus -->
        <button type="button" class="btn btn-sm btn-yellow" data-bs-toggle="collapse" href="#collapse-apparatus" role="button" aria-expanded="false" aria-controls="collapse-apparatus">Apparatus</button>
        <div class="collapse" id="collapse-apparatus">
          <div class="card card-body">

          </div>
        </div>
        <!-- notes -->
        <button type="button" class="btn btn-sm btn-blue" data-bs-toggle="collapse" href="#collapse-notes" role="button" aria-expanded="false" aria-controls="collapse-notes">Notes</button>
        <div class="collapse" id="collapse-notes">
          <div class="card card-body">
            <% if (typeof notes !== "undefined") { %>
            <% notes.forEach((el) => { %>
            <div>
              <%- el %>
            </div>
            <% }); %>
            <% }; %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include ("partials/script") %>
</body>

</html>