<!DOCTYPE html>
<html>
<%- include ("partials/head") %>
<body>
    <%- include ("partials/navbar") %>

    <div class="container-fluid pb-5 pt-5">
        <div class="container">
            <h1 class="h2">Editions</h1>
            <!-- alert -->
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <span>Editions are visible only if their file has been uploaded. <span class="fw-bold">A login system is coming soon!</span></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <!-- list of editions -->
            <% if (editions) { %>
                <% editions.forEach(function(edition) { %>
                    <li class="p-2">
                        <span class="fw-bold"><%= edition[0] %></span>, <span><%= edition[1] %></span> <span class="text-muted">curated by <%= edition[2] %></span>
                        <a href="/edition/<%= edition[3] %>-<%= edition[4] %>" class="btn btn-primary btn-sm" title="Read the edition">Read the edition</a>
                        <a href="/addMetadata/<%= edition[3] %>-<%= edition[4] %>" class="btn btn-light btn-sm" title="Modify the edition">Modify the edition</a>
                    </li>
                <% }); %>  
            <% }; %>
        </div>
    </div>

    <%- include ("partials/footer") %>
    <%- include ("partials/script") %>
</body>
</html>