<!DOCTYPE html>
<html>
<%- include ("partials/head") %>

<body>
  <%- include ("partials/navbar") %>

  <div class="container-fluid pb-5 pt-5">
    <div class="container">
      <a href="<%= prevUrl; %>" type="button" class="btn btn-sm btn-light border"><i class="bi bi-arrow-left"></i></a>
      <h1 class="h2 d-inline align-middle">Editions</h1>
      <!-- alert -->
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <span>You can edit only the editions of which you are the editor.</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <!-- list of editions -->
      <% var publishedEditions = []; %>
      <% if (editions.length > 0) { %>
        
        <!-- editions array -->
        <% editions.forEach(function(edition) { %>
          <% if (edition.get("edition.publishType") == "Published") { %>
            <!-- array of published editions -->
            <% if (!publishedEditions.includes(edition)) { %>
              <% publishedEditions.push(edition); %>
            <% }; %>              
          <% }; %>
        <% }); %>

        <!-- editions list -->
        <% if (publishedEditions.length > 0) { %>
          <ul>
            <% publishedEditions.forEach((edition) => { %>
              <!-- list of editions -->
              <li class="p-2">
                <span class="fw-bold"><%= edition.get("edition.title"); %></span>, <span><%= edition.get("author.name"); %></span> <span class="text-muted">curated by <%= edition.get("editor.name"); %></span>
                <a href="<%= process.env.URL_PATH %>/edition/<%= edition.get('ID(edition)') %>-<%= edition.get('ID(editor)') %>" class="btn btn-primary btn-sm" title="Read the edition">Read the edition</a>
                <% if (edition.get("editor.email") == email) { %>
                  <a href="<%= process.env.URL_PATH %>/edit/<%= edition.get('ID(edition)') %>-<%= edition.get('ID(editor)') %>" class="btn btn-light btn-sm" title="Edit the edition">Edit the edition</a>
                <% }; %>
              </li>
            <% }); %>
          </ul>
        <% } else { %>
          <div class="mt-3">
            <p>No edition is available for now.</p>
            <a href="<%= process.env.URL_PATH %>/apikey" class="btn btn-primary" title="Read the edition">Create an edition</a>
          </div>
        <% }; %>

      <% } else { %>
        <div class="mt-3">
          <p>No edition is available for now.</p>
          <a href="<%= process.env.URL_PATH %>/apikey" class="btn btn-primary" title="Read the edition">Create an edition</a>
        </div>
      <% }; %>
    </div>
  </div>

  <%- include ("partials/footer") %>
  <%- include ("partials/script") %>
</body>

</html>