<!DOCTYPE html>
<html>
<%- include ("partials/head") %>

<body>
  <%- include ("partials/navbar") %>
  <div class="container-fluid pb-5 pt-5">
    <!-- alert -->
    <div class="alert alert-warning alert-dismissible fade" role="alert">
      <span>The web application is under development. New contents and functionalities are coming soon!</span></span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="container text-center">
      <img class="logo mb-3" src="/assets/img/logo-brand-shivadhama.png" alt="Logo Sivadharma">
      <h1>&#x15a;ivadharma Database</h1>
      <h2>Welcome <%= name %></h2>
    </div>
  </div>
  <div class="container-fluid bg-light pb-5 pt-5">
    <div class="container">
      A Scholarly Digital Critical Edition is a conceptually and structurally sophisticated entity, not only because the text is “constrained by its sequential presentation”, but also because it is characterized by a multidimensional complexity. Editions of South Asian texts, in particular, contain a series of phenomena difficult to manage formally, such as the overlapping, which requires establishing the data structure best suited to represent this complexity. Śivadharma Database, an upcoming editor of Digital Scholarly Edition of L’Orientale University of Naples, the École française d’Extrême-Orient, and the /DH.arc Research Centre of Alma Mater Studiorum University of Bologna, shows that a tree structure is insufficient to handle the non-linearity of the readings of a text in South Asian languages, while the graph database Neo4j, is a better solution to structure and store data to create, publish, store, catalog, update, visualize, and browse editions.
    </div>
  </div>
  <%- include ("partials/footer") %>
  <%- include ("partials/script") %>
</body>

</html>