<!-- stanza -->
<!-- cancel annotations -->
<button type="button" class="btn-close float-end" aria-label="Close" data-bs-toggle="modal" data-bs-target="#cancel-stanza" data-type="cancel-annotation"></button>
<div class="modal fade" id="cancel-stanza" data-role="cancel-annotation" tabindex="-1" aria-labelledby="cancel-stanza" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure to cancel this annotation?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Please type <b>cancel-annotation</b> to confirm.</p>
        <input type="text" class="form-control" data-role="safe-deletion">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-role="safe-deletion-btn" disabled>Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- stanza/paragraph -->
<h3 class="h6">Stanzas/paragraph</h3>
<ul class="nav nav-tabs fs-xs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#annotate-stanza" type="button" role="tab" aria-controls="annotate" aria-selected="true">Annotate</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#check-stanza" type="button" role="tab" aria-controls="check" aria-selected="false">Check all</button>
  </li>
</ul>
<div class="tab-content fs-xs">
  <!-- ANNOTATE -->
  <div class="tab-pane fade show active" id="annotate-stanza" role="tabpanel" aria-labelledby="annotate-tab">
    <!-- stanza form -->
    <div class="annotation-form stanza d-none stanza-scroll scroll-tab">
      <!-- stanza -->
      <form class="form-annotations mb-3" method="post" action="<%= process.env.URL_PATH %>/addStanza/<%= id %>">
        <!-- ID -->
        <div class="d-none">
          <label class="form-label">ID of annotation</label>
          <input class="form-control cursor-not-allowed root-id-input" type="text" aria-describedby="ID of annotation" readonly="true" data-value="stanza" name="idAnnotation">
        </div>
        <!-- selected fragment -->
        <div class="mb-3 mt-3 d-none">
          <label class="form-label">Selected fragment</label>
          <input class="form-control" type="text" aria-describedby="Selected fragment" readonly="true" data-value="stanza" name="selectedFragment">
        </div>
        <!-- type of structure -->
        <div class="bg-white rounded-20 p-3 mb-3 mt-3">
          <!-- stanza/paragraph -->
          <div class="mb-3">
            <label class="form-label">Stanza/paragraph position</label>
            <input type="number" class="form-control form-control-sm related-available-chapters" aria-describedby="Number/name of stanza" name="stanzaN">
            <div class="form-text">Annotate chapters first, stanzas/paragraph, and then other types of annotations.</div>
          </div>
          <!-- stanza/paragraph name -->
          <div class="mb-3">
            <label class="form-label">Stanza/paragraph name</label>
            <input type="text" class="form-control form-control-sm" aria-describedby="Name of stanza" name="stanzaName">
            <div class="form-text">Insert the name of the stanza/paragraph.</div>
          </div>
          <!-- stanza/paragraph chapter -->
          <div class="mb-3">   
            <% if (availableChapters.length > 0) { %>
              <label class="form-label">In chapter</label>
              <% availableChapters.forEach((chapter) => { %>
                <div class="form-check">
                  <input class="form-check-input available-chapters" type="radio" id="chapter-<%= chapter['n']; %>" value="<%= chapter['n']; %>" name="stanzaRefChapter">
                  <label class="form-check-label"><%= chapter['n']; %></label>
                </div>
              <% }); %>
            <% }; %>
          </div>
        </div>
        <!-- submit -->
        <div>
          <button type="submit" class="btn btn-dark-green">Save</button>
        </div>
      </form>
    </div>
  </div>
  <!-- CHECK -->
  <div class="tab-pane fade" id="check-stanza" role="tabpanel" aria-labelledby="check-tab">
    <h2 class="mt-3 h5" id="check-annotation"></h2>
    <!-- results stanza -->
    <div class="stanza-scroll scroll-tab" id="stanza-res">
      <%- include ("partials/forms-res/stanza") %>
    </div>
  </div>
</div>