<% for (var i = 0; i < allEntryDict.length; i++) { %>

<% allEntryDict[i].forEach((entryDict) => { %>

<div class="p-3 mt-3 bg-white container-apparatus" data-type="apparatus" data-subtype="apparatus-entry">

  <!-- lemma / location -->
  <% entryDict["lemma"].forEach((el) => { %>

  <span data-type="apparatus" data-subtype="location">
    <span data-type="apparatus" data-subtype="stanza-start" data-name="stanzaStart" data-fill='<%= el["stanzaStart"]; %>'><%= el["stanzaStart"]; %></span><span data-type="apparatus" data-subtype="pada-start" data-name="padaStart" data-fill='<%= el["padaStart"]; %>'><%= el["padaStart"].join().replace(/,/g, ""); %></span>
    <span data-type="apparatus" data-subtype="stanza-end" data-name="stanzaEnd" data-fill='<%= el["stanzaEnd"]; %>'><%= el["stanzaEnd"]; %></span><span data-type="apparatus" data-subtype="pada-end" data-name="padaEnd" data-fill='<%= el["padaEnd"]; %>'><%= el["padaEnd"].join().replace(/,/g, ""); %></span>
  </span>

  <!-- lemma -->
  <% var lemma = el["lemma"].split("___")[0] %>

  <!-- lemma omitted -->
  <% if (lemma == "lemmaOmission") { %>
  <span data-type="apparatus" data-subtype="lemma" data-name="lemma" data-fill='<%= el["lemma"]; %>' data-radio="lemma-omission">om.</span>
  <% } else { %>
  <!-- lemma -->
  <span class="fst-italic" data-type="apparatus" data-subtype="lemma" data-name="lemma" data-fill='<%= el["lemma"]; %>' data-radio="lemma-present"><%= el["lemma"]; %></span>
  <span>&#x5d;</span>
  <% }; %>

  <!-- witnesses -->
  <% if (el["witnesses"].length > 1) { %>
  <% el["witnesses"].forEach((witness) => { %>
  <span data-type="apparatus" data-subtype="witness"><%= witness %></span>
  <% }); %>
  <% } else { %>
  <span data-type="apparatus" data-subtype="witness"><%= el["witnesses"]; %></span>
  <% }; %>

  <!-- lemma omission notes -->
  <% if (lemma == "lemmaOmission") { %>
  <span class="live-omission-note" data-type="apparatus" data-subtype="lemmaOmission"><%- el["notes"]; %></span>
  <% }; %>

  <% }); %>

  <!-- variant / witnesses -->
  <% entryDict["variants"].forEach((el) => { %>

  <!-- variant -->
  <% var variant = el["variant"].split("___")[0] %>

  <span class="ms-4" data-type="apparatus" data-subtype="variants">

    <!-- variant omitted -->
    <% if (variant == "variantOmission") { %>
    <span data-type="apparatus" data-subtype="variant">om.</span>
    <% } else { %>
    <span class="fst-italic" data-type="apparatus" data-subtype="variant"><%= el["variant"] %></span>
    <% }; %>

    <!-- witnesses -->
    <% if (el["witnesses"].length > 1) { %>
    <% el["witnesses"].forEach((witness) => { %>
    <%= witness %>
    <% }); %>
    <% } else { %>
    <%= el["witnesses"]; %>
    <% }; %>

    <!-- omission notes -->
    <% if (variant == "variantOmission") { %>
    <span class="live-omission-note" data-type="apparatus" data-subtype="variantOmission"><%- el["notes"]; %></span>
    <% }; %>

  </span>

  <% }); %>

  <!-- modify button -->
  <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-1">
    <button class="btn btn-sm btn-warning modify-btn" type="button" data-type="apparatus">Modify</button>
  </div>
</div>

<% }); %>
<% }; %>