<% for (var i = 0; i < allEntryDict.length; i++) { %>
<% allEntryDict[i].forEach((entryDict) => { %>

<div class="p-3 mt-3 bg-white" data-type="apparatus" data-subtype="apparatus-entry">

  <!-- lemma / location -->
  <% entryDict["lemma"].forEach((el) => { %>
  <span data-type="apparatus" data-subtype="location"><span data-type="apparatus" data-subtype="stanza"><%= el["stanza"]; %></span><span data-type="apparatus" data-subtype="pada"><%= el["pada"]; %></span></span>
  <span class="fst-italic" data-type="apparatus" data-subtype="lemma"><%= el["lemma"]; %></span>
  <% }); %>

  <!-- variant / witnesses -->
  <% entryDict["variants"].forEach((el) => { %>
  <span class="ms-4" data-type="apparatus" data-subtype="variants">

    <!-- variant -->
    <span class="fst-italic" data-type="apparatus" data-subtype="variant"><%= el["variant"] %></span>

    <!-- witnesses -->
    <% if (el["witnesses"].length > 1) { %>
    <% el["witnesses"].forEach((witness) => { %>
    <%= witness %>
    <% }); %>
    <% } else { %>
    <%= el["witnesses"]; %>
    <% }; %>

  </span>
  <% }); %>

</div>

<% }); %>
<% }; %>