<% for (var i = 0; i < appEntryDict.length; i++) { %>

<% appEntryDict[i].forEach((entryDict) => { %>

<div class="p-3 mt-3 bg-white container-apparatus" data-type="apparatus" data-subtype="apparatus-entry">

  <!-- lemma / location -->
  <% entryDict["lemma"].forEach((el) => { %>

  <!-- chapter -->
  <div class="mb-2" data-type="apparatus" data-subtype="location">
    <span class="fw-bold">Chapter</span> <span class="fw-bold" data-type="apparatus" data-subtype="chapter" data-name="chapter" data-fill='<%= el["chapter"]; %>' data-input="number"><%= el["chapter"]; %></span>
  </div>

  <!-- fragment -->
  <div class="d-none" data-type="apparatus" data-subtype="selected-fragment" data-name="selectedFragment" data-fill='<%= el["selectedFragment"]; %>' data-input="text"><%= el["selectedFragment"]; %></div>

  <!-- location -->
  <% if (el["stanzaStart"] + el["padaStart"] == el["stanzaEnd"] + el["padaEnd"]) { %>
  <span data-type="apparatus" data-subtype="stanza-start" data-name="stanzaStart" data-fill='<%= el["stanzaStart"]; %>' data-input="number"><%= el["stanzaStart"]; %><span data-type="apparatus" data-subtype="pada-start" data-name="padaStart" data-fill='<%= el["padaStart"]; %>' data-input="checkbox"><%= el["padaStart"].replace(/,/g, ""); %></span><span data-type="apparatus" data-subtype="stanza-end" data-name="stanzaEnd" data-fill='<%= el["stanzaEnd"]; %>' data-input="number"></span><span data-type="apparatus" data-subtype="pada-end" data-name="padaEnd" data-fill='<%= el["padaEnd"]; %>' data-input="checkbox"></span>
    <% } else { %>
    <span data-type="apparatus" data-subtype="stanza-start" data-name="stanzaStart" data-fill='<%= el["stanzaStart"]; %>' data-input="number"><%= el["stanzaStart"]; %><span data-type="apparatus" data-subtype="pada-start" data-name="padaStart" data-fill='<%= el["padaStart"]; %>' data-input="checkbox"><%= el["padaStart"].replace(/,/g, ""); %></span><span data-type="apparatus" data-subtype="stanza-end" data-name="stanzaEnd" data-fill='<%= el["stanzaEnd"]; %>' data-input="number"><%= el["stanzaEnd"]; %></span><span data-type="apparatus" data-subtype="pada-end" data-name="padaEnd" data-fill='<%= el["padaEnd"]; %>' data-input="checkbox"><%= el["padaEnd"].replace(/,/g, ""); %></span>
      <% }; %>

      <!-- id lemma -->
      <span class="d-none" data-type="apparatus" data-subtype="idLemma" data-name="idLemma" data-fill='<%= el["idLemma"]; %>' data-input="text"><%= el["idLemma"]; %></span>

      <!-- lemma -->
      <% var lemma = el["lemma"].split("___")[0] %>

      <!-- lemma omitted -->
      <% if (lemma == "lemmaOmission") { %>
      <span data-type="apparatus" data-subtype="lemma" data-name="lemma" data-fill='<%= el["lemma"]; %>' data-input="text" data-radio='lemma-omission <%= el["truncation"]; %>'>om.</span>
      <% } else { %>
      <!-- lemma -->
      <span class="fst-italic" data-type="apparatus" data-subtype="lemma" data-name="lemma" data-fill='<%= el["lemma"]; %>' data-input="text" data-radio='lemma-present <%= el["truncation"]; %>'><%= el["lemma"]; %></span>
      <span>&#x5d;</span>
      <% }; %>

      <!-- witnesses -->
      <span data-name="manuscriptLemma" data-fill='<%= el["witnesses"]; %>' data-input="list"></span>
      <% if (el["witnesses"].split(" ; ").length > 1) { %>
      <% el["witnesses"].split(" ; ").forEach((witness) => { %>
      <span data-type="apparatus" data-subtype="witness"><%- witness %></span>
      <% }); %>
      <% } else { %>
      <span data-type="apparatus" data-subtype="witness"><%- el["witnesses"]; %></span>
      <% }; %>

      <!-- lemma notes -->
      <span class="live-omission-note" data-type="apparatus" data-subtype="lemmaOmission" data-name="lemmaNotes" data-fill='<%= el["notes"]; %>' data-input="textarea"><%- el["notes"]; %></span>
      <% }); %>

      <!-- variant / witnesses -->
      <% entryDict["variants"].forEach((el) => { %>

      <!-- id variant -->
      <span class="text-primary" data-type="apparatus" data-subtype="idVariant" data-name="idVariant<%= el['numbers'] %>" data-fill='<%= el["idVariant"]; %>' data-input="text"><%= el["idVariant"]; %></span>

      <!-- variant -->
      <% var variant = el["variant"].split("___")[0] %>

      <span class="ms-4" data-type="apparatus" data-subtype="variants">

        <!-- variant omitted -->
        <% if (variant == "variantOmission") { %>
        <span data-type="apparatus" data-subtype="variant" data-name="variant<%= el['numbers'] %>" data-fill='<%= el["variant"] %>' data-input="text">om.</span>
        <% } else { %>
        <!-- variant -->
        <span class="fst-italic" data-type="apparatus" data-subtype="variant" data-name="variant<%= el['numbers'] %>" data-fill='<%= el["variant"] %>' data-input="text"><%= el["variant"] %></span>
        <% }; %>

        <!-- witnesses -->
        <span class="d-none" data-name="manuscriptVariant<%= el['numbers'] %>" data-fill='<%= el["witnesses"]; %>' data-input="list"><%= el["witnesses"]; %></span>

        <% if (el["witnesses"].split(" ; ").length > 1) { %>
        <% el["witnesses"].split(" ; ").forEach((witness) => { %>
        <span data-type="apparatus" data-subtype="witness"><%= witness %></span>
        <% }); %>
        <% } else { %>
        <span data-type="apparatus" data-subtype="witness"><%= el["witnesses"]; %></span>
        <% }; %>

        <!-- omission notes -->
        <span class="live-omission-note" data-type="apparatus" data-subtype="variantOmission" data-name="variant<%= el['numbers'] %>Omission" data-fill='<%= el["notes"]; %>' data-input="textarea"><%- el["notes"]; %></span>

      </span>

      <% }); %>

      <!-- modify button -->
      <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-1">
        <button class="btn btn-sm btn-warning modify-btn" type="button" data-type="apparatus">Modify</button>
      </div>
</div>

<% }); %>
<% }; %>