<% apparatus.forEach((entry) => { %>

    <div class="p-3 mt-3 bg-white container-apparatus" data-type="apparatus" data-subtype="apparatus-entry">
        
        <% entry.forEach((el) => { %>
            
            <!-- location -->
            <span data-type="apparatus" data-subtype="stanzaStart" data-name="stanzaStart" data-fill='<%= el["lemma"]["stanzaStart"]; %>' data-input="number"><%= el["lemma"]["stanzaStart"]; %></span>
            <span data-type="apparatus" data-subtype="padaStart" data-name="padaStart" data-fill='<%= el["lemma"]["padaStart"]; %>' data-input="checkbox"><%= el["lemma"]["padaStart"].replace(/,|a\,b\,c\,d\,e\,f|a\,b\,c\,d/g, ""); %></span>
            
            <span data-type="apparatus" data-subtype="stanzaEnd" data-name="stanzaEnd" data-fill='<%= el["lemma"]["stanzaEnd"]; %>' data-input="number">
                <% if (el["lemma"]["stanzaEnd"] !== el["lemma"]["stanzaStart"]) { %>
                    <span data-type="separator" data-subtype="enDash">&#x2013;</span><%= el["lemma"]["stanzaEnd"]; %>
                <% }; %>
            </span>

            <span data-type="apparatus" data-subtype="padaEnd" data-name="padaEnd" data-fill='<%= el["lemma"]["padaEnd"]; %>' data-input="checkbox">
                <% if (el["lemma"]["stanzaEnd"] + el["lemma"]["padaEnd"] !== el["lemma"]["stanzaStart"] + el["lemma"]["padaStart"]) { %>
                    <%= el["lemma"]["padaEnd"]; %>
                <% }; %>
            </span>

            <!-- hidden location -->
            <span class="d-none" data-type="apparatus" data-subtype="chapter" data-name="chapter" data-fill='<%= el["lemma"]["chapter"]; %>' data-input="number"></span>

            <!-- hidden fragment -->
            <div class="d-none" data-type="apparatus" data-subtype="selectedFragment" data-name="selectedFragment" data-fill='<%= el["lemma"]["selectedFragment"]; %>' data-input="text"><%= el["lemma"]["selectedFragment"]; %></div>

            <!-- lemma -->
            <span data-type="apparatus" data-subtype="lemma" data-name="lemma" data-fill='<%= el["lemma"]["lemma"]; %>' data-input="text"><%= el["lemma"]["lemma"]; %></span>

            <!-- hidden lemmaID -->
            <span class="d-none" data-type="apparatus" data-subtype="idAnnotation" data-name="idLemma" data-fill='<%= el["lemma"]["idAnnotation"]; %>' data-input="text"><%= el["lemma"]["idAnnotation"]; %></span>

            <!-- lemma witnesses -->
            <% var lemma_witnesses_list = []; %>

            <% el["witnessesLemma"].forEach((witness) => { %>
                <% lemma_witnesses_list.push(witness["siglum"]); %>
            <% }); %>

            <span data-name="manuscriptLemma" data-fill='<%= lemma_witnesses_list.join(" ; ") %>' data-input="list"></span>
            <% el["witnessesLemma"].forEach((witness) => { %>
                <span data-type="apparatus" data-subtype="manuscriptLemma"><%- witness["siglum"]; %></span>
            <% }); %>

            <!-- lemma note -->
            <% if (el["lemma"]["notes"] !== "") { %>
                <span class="note" data-type="apparatus" data-subtype="note" data-name="lemmaNotes" data-fill='<%= el["lemma"]["notes"]; %>' data-input="textarea"><%- el["lemma"]["notes"]; %></span>
            <% }; %>

            <!-- variants -->
            <% el["variants"].forEach((variant) => { %>

                <!-- variant -->
                <span class="ms-4 fst-italic" data-type="apparatus" data-subtype="variant" data-name='variant<%= variant["variant"]["number"]; %>' data-fill='<%= variant["variant"]["variant"]; %>' data-input="text"><%= variant["variant"]["variant"]; %></span>
                
                <!-- hidden variantID -->
                <span class="d-none text-primary" data-type="apparatus" data-subtype="id-variant" data-name='idVariant<%= variant["variant"]["number"] %>' data-fill='<%= variant["variant"]["idAnnotation"]; %>' data-input="text"></span>

                <!-- witnesses-->
                <% var variant_witnesses_list = []; %>

                <% variant["witnessesVariant"].forEach((witness) => { %>
                    <% variant_witnesses_list.push(witness["siglum"]); %>
                <% }); %>

                <span class="" data-name="manuscriptVariant<%= variant['variant']['number'] %>" data-fill='<%= variant_witnesses_list.join(" ; "); %>' data-input="list"></span>
                <% variant["witnessesVariant"].forEach((witness) => { %>
                    <span data-type="apparatus" data-subtype="witnessesVariant"><%- witness["siglum"]; %></span>
                <% }); %>

                <!-- notes -->
                <% if (variant["variant"]["notes"] !== "") { %>
                    <span class="note" data-type="apparatus" data-subtype="variantNotes" data-name="variant<%= variant['variant']['number'] %>Omission" data-fill='<%= variant["variant"]["notes"]; %>' data-input="textarea"><%- variant["variant"]["notes"]; %></span>
                <% }; %>

            <% }); %>

         <% }); %>
        
        <!-- modify button -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-1">
            <button class="btn btn-sm btn-warning modify-btn" type="button" data-type="apparatus">Modify</button>
        </div>

    </div>

<% }); %>