<% for (var i = 0; i < appEntryDict.length; i++) { %>

<% appEntryDict[i].forEach((entryDict) => { %>

<div class="p-3 mt-3 bg-white container-apparatus" data-type="apparatus" data-subtype="apparatus-entry">

  <!-- lemma / location -->
  <% entryDict["lemma"].forEach((el) => { %>

  <!-- chapter -->
  <div data-type="apparatus" data-subtype="location">
    <span class="fw-bold">Chapter</span> <span class="fw-bold" data-type="apparatus" data-subtype="chapter" data-name="chapter" data-fill='<%= el["chapter"]; %>' data-input="number"><%= el["chapter"]; %></span>
  </div>

  <!-- location -->
  <span data-type="apparatus" data-subtype="stanza-start" data-name="stanzaStart" data-fill='<%= el["stanzaStart"]; %>' data-input="number"><%= el["stanzaStart"]; %></span><span data-type="apparatus" data-subtype="pada-start" data-name="padaStart" data-fill='<%= el["padaStart"]; %>' data-input="checkbox"><%= el["padaStart"]; %></span><span data-type="apparatus" data-subtype="stanza-end" data-name="stanzaEnd" data-fill='<%= el["stanzaEnd"]; %>' data-input="number"><%= el["stanzaEnd"]; %></span><span data-type="apparatus" data-subtype="pada-end" data-name="padaEnd" data-fill='<%= el["padaEnd"]; %>' data-input="checkbox"><%= el["padaEnd"]; %></span>

  <!-- lemma -->
  <% var lemma = el["lemma"].split("___")[0] %>

  <!-- lemma omitted -->
  <% if (lemma == "lemmaOmission") { %>
  <span data-type="apparatus" data-subtype="lemma" data-name="lemma" data-fill='<%= el["lemma"]; %>' data-input="text" data-radio='lemma-omission <%= el["truncation"]; %>'>om.</span>
  <% } else { %>
  <!-- lemma -->
  <span class="fst-italic" data-type="apparatus" data-subtype="lemma" data-name="lemma" data-fill='<%= el["lemma"]; %>' data-input="text" data-radio='lemma-present <%= el["truncation"]; %>'><%= el["lemma"]; %></span>
  <span>&#x5d;</span>
  <% }; %>

  <!-- witnesses -->
  <span data-name="manuscriptLemma" data-fill='<%= el["witnesses"]; %>' data-input="list"></span>
  <% if (el["witnesses"].split(" ; ").length > 1) { %>
  <% el["witnesses"].split(" ; ").forEach((witness) => { %>
  <span data-type="apparatus" data-subtype="witness"><%- witness %></span>
  <% }); %>
  <% } else { %>
  <span data-type="apparatus" data-subtype="witness"><%- el["witnesses"]; %></span>
  <% }; %>

  <!-- lemma notes -->
  <span class="live-omission-note" data-type="apparatus" data-subtype="lemmaOmission" data-name="lemmaNotes" data-fill='<%= el["notes"]; %>' data-input="textarea"><%- el["notes"]; %></span>
  <% }); %>

  <!-- variant / witnesses -->
  <% entryDict["variants"].forEach((el) => { %>

  <!-- variant -->
  <% var variant = el["variant"].split("___")[0] %>

  <span class="ms-4" data-type="apparatus" data-subtype="variants">

    <!-- variant omitted -->
    <% if (variant == "variantOmission") { %>
    <span data-type="apparatus" data-subtype="variant" data-name="variant<%= el['numbers'] %>" data-fill='<%= el["variant"] %>' data-input="text">om.</span>
    <% } else { %>
    <!-- variant -->
    <span class="fst-italic" data-type="apparatus" data-subtype="variant" data-name="variant<%= el['numbers'] %>" data-fill='<%= el["variant"] %>' data-input="text"><%= el["variant"] %></span>
    <% }; %>

    <!-- witnesses -->
    <span data-name="manuscriptVariant<%= el['numbers'] %>" data-fill='<%= el["witnesses"]; %>' data-input="list"></span>
    <% if (el["witnesses"].split(" ; ").length > 1) { %>
    <% el["witnesses"].split(" ; ").forEach((witness) => { %>
    <span data-type="apparatus" data-subtype="witness"><%= witness %></span>
    <% }); %>
    <% } else { %>
    <span data-type="apparatus" data-subtype="witness"><%= el["witnesses"]; %></span>
    <% }; %>

    <!-- omission notes -->
    <span class="live-omission-note" data-type="apparatus" data-subtype="variantOmission" data-name="variant<%= el['numbers'] %>Omission" data-fill='<%= el["notes"]; %>' data-input="textarea"><%- el["notes"]; %></span>

  </span>

  <% }); %>

  <!-- modify button -->
  <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-1">
    <button class="btn btn-sm btn-warning modify-btn" type="button" data-type="apparatus">Modify</button>
  </div>
</div>

<% }); %>
<% }; %>