<% for (var i = 0; i < citations.length; i++) { %>

<!-- citation entry -->
<div class="p-3 mt-3 bg-white container-citation" data-type="citation" data-subtype="citation-entry">

  <!-- stanzas -->
  <% var stanzaStart = citations[i].split("-")[0]; %>
  <% stanzaStart = stanzaStart.split("#")[0]; %>
  <% var stanzaEnd = citations[i].split("-")[1]; %>
  <% stanzaEnd = stanzaEnd.split("#")[0]; %>

  <!-- padas -->
  <% var padaStart = citations[i].split("-")[0]; %>
  <% padaStart = padaStart.split("#")[1]; %>
  <% padaStart = padaStart.replace(/,/g, "") %>
  <% var padaEnd = citations[i].split("-")[1]; %>
  <% padaEnd = padaEnd.split("___")[0].replace(/[#,]/g, ""); %>

  <!-- citation -->
  <% var citation = citations[i].split("___")[1]; %>
  <% citation = citation.split("===")[0]; %>

  <!-- fragment -->
  <% var fragment = citations[i].split("___")[1]; %>
  <% fragment = fragment.split("===")[1] %>

  <!-- location -->
  <div class="p-2" data-type="citation" data-subtype="location">
    <span data-type="citation" data-subtype="stanza-start" data-name="stanzaStart" data-fill='<%= stanzaStart; %>' data-input="number"><%= stanzaStart; %></span><span data-type="citation" data-subtype="pada-start" data-name="padaStart" data-fill='<%= padaStart; %>' data-input="checkbox"><%= padaStart; %></span>
    <span data-type="citation" data-subtype="stanza-end" data-name="stanzaEnd" data-fill='<%= stanzaEnd; %>' data-input="number"><%= stanzaEnd; %></span><span data-type="citation" data-subtype="pada-end" data-name="padaEnd" data-fill='<%= padaEnd; %>' data-input="checkbox"><%= padaEnd; %></span>
  </div>

  <!-- fragment -->
  <div class="bg-fuchsia p-2" data-type="citation" data-subtype="selected-fragment" data-name="selectedFragment" data-fill='<%= fragment; %>' data-input="text"><%= fragment; %></div>

  <!-- citation -->
  <div class="p-2" data-type="citation" data-subtype="citation" data-name="citation" data-fill='<%= citation; %>' data-input="textarea"><%- citation; %></div>

  <!-- modify button -->
  <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-1">
    <button class="btn btn-sm btn-fuchsia modify-btn" type="button" data-type="citation">Modify</button>
  </div>

</div>

<% }; %>