<% for (var i = 0; i < commentaries.length; i++) { %>

<!-- commentary entry -->
<div class="p-3 mt-3 bg-white container-commentary" data-type="commentary" data-subtype="commentary-entry">

  <!-- stanzas -->
  <% var stanzaStart = commentaries[i].split("-")[0]; %>
  <% stanzaStart = stanzaStart.split("#")[0]; %>
  <% var stanzaEnd = commentaries[i].split("-")[1]; %>
  <% stanzaEnd = stanzaEnd.split("#")[0]; %>

  <!-- padas -->
  <% var padaStart = commentaries[i].split("-")[0]; %>
  <% padaStart = padaStart.split("#")[1]; %>
  <% padaStart = padaStart %>
  <% var padaEnd = commentaries[i].split("-")[1]; %>
  <% padaEnd = padaEnd.split("___")[0]; %>
  <% padaEnd = padaEnd.split("#")[1]; %>

  <!-- commentary -->
  <% var commentary = commentaries[i].split("___")[1]; %>
  <% commentary = commentary.split("===")[0]; %>

  <!-- fragment / chapter -->
  <% var fragment = commentaries[i].split("___")[1]; %>
  <% var chapter; %>
  <% fragment = fragment.split("===")[1] %>
  <% chapter = fragment.split("/") %>
  <% fragment = chapter[0]; %>
  <% chapter = chapter[1]; %>

  <!-- location -->
  <div class="p-2" data-type="commentary" data-subtype="location">
    <span class="fw-bold">Chapter</span> <span class="fw-bold" data-type="commentary" data-subtype="chapter" data-name="chapter" data-fill='<%= chapter %>' data-input="number"><%= chapter %></span> <span class="fst-italic"><span data-type="commentary" data-subtype="stanza-start" data-name="stanzaStart" data-fill='<%= stanzaStart; %>' data-input="number"><%= stanzaStart; %></span><span data-type="commentary" data-subtype="pada-start" data-name="padaStart" data-fill='<%= padaStart; %>' data-input="checkbox"><%= padaStart.replace(/,/g, ""); %></span><span data-type="commentary" data-subtype="stanza-end" data-name="stanzaEnd" data-fill='<%= stanzaEnd; %>' data-input="number"><%= stanzaEnd; %></span><span data-type="commentary" data-subtype="pada-end" data-name="padaEnd" data-fill='<%= padaEnd; %>' data-input="checkbox"><%= padaEnd.replace(/[#,]/g, ""); %></span></span>
  </div>

  <!-- fragment -->
  <div class="bg-indigo p-2" data-type="commentary" data-subtype="selected-fragment" data-name="selectedFragment" data-fill='<%= fragment; %>' data-input="text"><%= fragment; %></div>

  <!-- commentary -->
  <div class="p-2" data-type="commentary" data-subtype="commentary" data-name="commentary" data-fill='<%= commentary; %>' data-input="textarea"><%- commentary; %></div>

  <!-- modify button -->
  <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-1">
    <button class="btn btn-sm btn-indigo modify-btn" type="button" data-type="commentary">Modify</button>
  </div>

</div>

<% }; %>