<% if (translation) { %>
  <% translation.forEach((el) => { %>
    <div class="p-3 mt-3 bg-white container-translation" data-type="translation" data-subtype="translation-entry">

      <!-- hidden ID -->
      <span class="d-none" data-type="translation" data-subtype="idAnnotation" data-name="idAnnotation" data-fill='<%= el["idAnnotation"]; %>' data-input="text"><%= el["idAnnotation"]; %></span>
      
      <!-- chapter -->
      <div class="mb-3" data-type="translation" data-subtype="chapter">
        <span class="fw-bold">Chapter</span>
        <span class="fw-bold" data-type="translation" data-subtype="chapter"><%= el["chapter"]; %></span>
      </div>

      <!-- fragment -->
      <div class="bg-teal mb-3 p-2" data-type="translation" data-subtype="selectedFragment" data-name="selectedFragment" data-fill='<%= el["fragment"]; %>' data-input="text"><%- el["fragment"]; %></div>

      <!-- location / translation -->
      <div data-type="translation" data-subtype="translation" data-name="translation" data-fill='<%= el["value"]; %>' data-input="textarea">
        <span class="me-1" data-type="location" data-subtype="location-top">
          <span data-type="translation" data-subtype="chapter" data-name="chapter" data-fill='<%= el["chapter"]; %>' data-input="number"><%= el["chapter"]; %></span><span data-type="location" data-subtype="pointSeparator">.</span><span data-type="translation" data-subtype="stanzaStart" data-name="stanzaStart" data-fill='<%= el["stanzaStart"]; %>' data-input="number"><%= el["stanzaStart"]; %></span>        
        </span>
        <span data-type="translation" data-subtype="full-text"><%- el["value"]; %></span>
      </div>

      <!-- hidden location -->
      <span class="d-none" data-type="translation" data-subtype="stanzaEnd" data-name="stanzaEnd" data-fill='<%= el["stanzaEnd"]; %>' data-input="number"></span>
      <span class="d-none" data-type="translation" data-subtype="padaStart" data-name="padaStart" data-fill='<%= el["padaStart"]; %>' data-input="checkbox"></span>
      <span class="d-none" data-type="translation" data-subtype="padaEnd" data-name="padaEnd" data-fill='<%= el["padaEnd"]; %>' data-input="checkbox"></span>

      <!-- note -->
      <% if (el["note"] !== "") { %>
        <span class="btn-note" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-translation-note-<%= el['id']; %>" aria-expanded="false" aria-controls="collapse-translation-note-<%= el['id']; %>"></span>
        <div class="collapse mb-3" id="collapse-translation-note-<%= el['id']; %>">
          <div class="card card-body">
            <div data-type="translation" data-subtype="note" data-name="noteTranslation" data-fill='<%= el["note"]; %>' data-input="textarea"><%- el["note"]; %></div>
          </div>
        </div>
      <% }; %>

      <!-- modify button -->
      <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-1">
        <button class="btn btn-sm btn-teal modify-btn" type="button" data-type="translation">Modify</button>
      </div>
    </div>
  <% }); %>
<% }; %>